﻿<!DOCTYPE html>
<html data-ng-app="n580440" lang="en">
  <!-- BEGIN HEAD -->
  <head>
    <title data-ng-bind=" $state.current.data.pageTitle +' | TopService 管理中心'">
    </title>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="./plugins/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="./plugins/css/font-awesome/css/580440-customized.min.css" rel="stylesheet" type="text/css"/>
    <link href="./plugins/css/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- <link href="./plugins/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/ngProgress.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/toastr.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before"/>
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- <link href="./css/app.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/components.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/css/light2.min.css" id="style_color" rel="stylesheet" type="text/css" /> -->
    <link href="./plugins/css/plugins-all.min.css" rel="stylesheet" type="text/css"/>
    <!-- 自订css -->
    <link href="./css/app.css" rel="stylesheet" type="text/css"/>
    <link href="./css/nt-style.css" rel="stylesheet" type="text/css"/>
    <link href="./css/all.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <!-- END HEAD -->
  </head>
  <!-- BEGIN BODY -->
  <body class="page-content-white page-header-fixed page-on-load page-footer-fixed" ng-controller="AppController" ng-class="{'page-sidebar-fixed':!hasSidebar}">
    <!-- BEGIN PAGE SPINNER -->
    <div class="page-spinner-bar" ng-spinner-bar="">
      <div class="bounce1">
      </div>
      <div class="bounce2">
      </div>
      <div class="bounce3">
      </div>
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top bg-yellow-soft" data-ng-controller="HeaderController" data-ng-include="'views/tpl/header.html'">
    </div>
    <div data-ng-include="'views/modals/common/change-password.html'">
    </div>
    <div data-ng-include="'views/modals/common/confirm-password.html'">
    </div>
    <div data-ng-include="'views/modals/common/change-unit.html'">
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container" ng-cloak>
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar-wrapper" data-ng-include="SidebarTpl" ng-controller="SidebarController" ng-if="hasSidebar">
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <div class="page-content padding-t-10 padding-rl-10 fade-in-up" ng-class="{'margin-0 padding-b-100':hasSidebar==false}" ui-view="">
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!--<div data-ng-include="'views/tpl/footer.html'" data-ng-controller="FooterController" class="page-footer"> </div>-->
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <script src="./plugins/js/jquery.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular.min.js" type="text/javascript">
    </script>
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <script src="./plugins/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/bootstrap-hover-dropdown.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/bootstrap-switch.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/jquery.slimscroll.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/jquery.blockui.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/toastr.min.js" type="text/javascript">
    </script>
    <!-- END CORE JQUERY PLUGINS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="./plugins/js/angular-sanitize.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular-touch.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular-ui-router.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/ocLazyLoad.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/ui-bootstrap-tpls.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/ngProgress.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular-messages.js">
    </script>
    <script src="./plugins/js/underscore-min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/flow.js" type="text/javascript">
    </script>
    <script src="./plugins/js/fusty-flow.js" type="text/javascript">
    </script>
    <script src="./plugins/js/fusty-flow-factory.js" type="text/javascript">
    </script>
    <script src="./plugins/js/ng-flow.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular-file-upload.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/js.cookie.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/angular-translate.js" type="text/javascript">
    </script>
    <script src="./plugins/js/loader-static-files.js" type="text/javascript">
    </script>
    <!-- END CORE ANGULARJS PLUGINS -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <!-- <script src="js/app.min.js" type="text/javascript"></script>
    <script src="js/layout.min.js" type="text/javascript"></script> -->
    <script src="js/nt-core.js" type="text/javascript">
    </script>
    <script src="js/config.js" type="text/javascript">
    </script>
    <script src="js/main.js" type="text/javascript">
    </script>
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- Factory -->
    <script src="js/factory/i18n.js">
    </script>
    <!-- Factory END-->
    <script src="js/directives/n580440_template.js" type="text/javascript">
    </script>
    <script src="js/directives/directives.js" type="text/javascript">
    </script>
    <script src="js/controllers/headerController.js" type="text/javascript">
    </script>
    <script src="js/controllers/domain/common.js" type="text/javascript">
    </script>
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="./plugins/js/app.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/layout.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/quick-sidebar.min.js" type="text/javascript">
    </script>
    <script src="./plugins/js/demo.min.js" type="text/javascript">
    </script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->
    <!-- END JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
</html>