<form name="relatedForm" role="form">
  <div class="form-group">
    <label>
      {{'10071' | i18n}}
    </label>
    <input class="form-control w-300" name="companyName" ng-model="Company.CompanyName" placeholder="{{'10071' | i18n}}" required="" type="text">
      <!-- <select class="form-control w-300" name="companyName" style="width:300px;" ng-model="Company.CompanyName">
            <option value="">企业名称</option>
            <option ng-repeat="item in companyList">{{item.CompanyName}}</option>
          </select> -->
    </input>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label>
          {{'10072' | i18n}}
        </label>
        <input class="form-control" ng-model="Company.NickName" ng-readonly="!isNewCompany" placeholder="{{'10072' | i18n}}" type="text">
        </input>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>企业编号</label>
            <input type="text" ng-model="Company.HrCode" ng-readonly="!isNewCompany" class="form-control" placeholder="企业编号">
          </div>
        </div> -->
    <div class="col-lg-6 col-md-6">
      <div class="form-group">
        <label>
          {{'10073' | i18n}}
        </label>
        <input class="form-control" ng-pattern="/^[0-9]*/i" ng-readonly="!isNewCompany" placeholder="{{'10073' | i18n}}" type="text">
        </input>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>
      {{'10074' | i18n}}
    </label>
    <input class="form-control w-200" ng-model="Liaisons.Name" ng-readonly="!isNewCompany" placeholder="{{'10074' | i18n}}" type="text">
    </input>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label>
          {{'10075' | i18n}}
        </label>
        <input class="form-control" ng-model="Liaisons.PhoneNo" ng-pattern="/[^\u4E00-\u9FA5]/i" ng-readonly="!isNewCompany" placeholder="{{'10075' | i18n}}" type="text">
        </input>
      </div>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="form-group">
        <label>
          {{'10076' | i18n}}
        </label>
        <input class="form-control" ng-model="Liaisons.Email" ng-readonly="!isNewCompany" placeholder="{{'10076' | i18n}}" type="email">
        </input>
      </div>
    </div>
  </div>
</form>
<div class="center">
  <button class="btn btn-light" ng-click="cancel()">
    {{'00002' | i18n}}
  </button>
  <button class="btn btn-info" ng-click="ok()" ng-disabled="relatedForm.$invalid">
    {{'00001' | i18n}}
  </button>
</div>