<script type="text/ng-template" id="openForLockModal">
  <div class="modal-header">
      <h4 class="d-flex align-items-center"><i class="fa fa-lock text-gold m-r-5" aria-hidden="true" style="font-size:24px"></i><span>权限获取</span></h4>
  </div>
  <div class="modal-body">
    <p>编辑权获取时间已过期，请选择是否继续获取编辑权? <span class="text-red">{{TimesForRemind}}</span>秒</p>
  </div>
  <div class="modal-footer">
      <button class="btn grey-salt btn-outline font-xs" ng-click="cancel()">放弃编辑</button>
      <button class="btn green" ng-click="ok()">继续编辑</button>
  </div>
</script>
