<script type="text/ng-template" id="classCtr">
  <div class="modal-header">
      <h4 class="d-flex align-items-center"><i class="{{options.icon}} {{options.iconColor}} fa-2x  m-r-5" aria-hidden="true" style="font-size:24px"></i><span>{{options.title}}</span></h4>
  </div>
  <div class="modal-body">
    <!-- 編輯中小類 block -->
    <input ng-show="options.setFeature == 'newEquipmentSubTypeName' || options.setFeature == 'newEquipmentTypeName'" class="p-3 m-5 radius-s" type="text" placeholder="{{options.placeholder}}" style="outline:none" ng-model="newName">

    <!-- 新增小類 block -->
    <input ng-show="options.setFeature == 'addEquipmentSubType'" class="p-3 m-5 radius-s" type="text" placeholder="请输入新小类名称" style="outline:none" ng-model="newEquipmentSubTypeName">

    <!-- 新增中類 block -->
    <div ng-show="options.setFeature == 'addEquipmentType'">
      <input class="p-3 m-5 radius-s" type="text" placeholder="请输入新增中类名称" style="outline:none" ng-model="newEquipmentTypeName">
      <br>
      <input class="p-3 m-5 radius-s" type="text" placeholder="请输入新增小类名称" style="outline:none" ng-model="newEquipmentSubTypeName">
      <p style="font-size:12px">注意:系统规定新增中类必须再新增一小类</p>
    </div>

    <!-- 小類停用 block -->
    <div ng-show="options.setFeature == 'EquipmentSubTypeStop'">
      <p>是否停用目前所选择 <span class="text-red">{{options.item.EquipmentSubTypeName}}</span>?</p>
      <p style="font-size:12px">注意: 小类的品项也会停用</p>
    </div>

    <!-- 中類停用 block -->
    <div ng-show="options.setFeature == 'EquipmentTypeStop'">
      <p>是否停用目前所选择 <span class="text-red">{{options.equipment.EquipmentTypeName}}</span>?</p>
      <p>注意: 所选下之<span class="text-blue">小类</span>也会<span class="text-red">停用</span>，若需<br>使用请先<span class="text-green">转移</span>。</p>
    </div>

    <!-- 小類啟用 block -->
    <div ng-show="options.setFeature == 'EquipmentSubTypeStart'">
      <p>是否啟用目前所选择 <span class="text-red">{{options.item.EquipmentSubTypeName}}</span>?</p>
    </div>

    <!-- 中類啟用 block -->
    <div ng-show="options.setFeature == 'EquipmentTypeStart'">
      <p>是否啟用此中类?</p>
    </div>

    <!-- 小類刪除 block -->
    <div ng-show="options.setFeature == 'EquipmentSubTypeDel'">
      <p>是刪除用目前所选择 <span class="text-red">{{options.item.EquipmentSubTypeName}}</span>?</p>
    </div>

    <!-- 中類刪除 block -->
    <div ng-show="options.setFeature == 'EquipmentTypeDel'">
      <p>是刪除此中类?</p>
    </div>

    <!-- 小類轉換 block -->
    <div ng-show="options.setFeature == 'EquipmentSubTypeMove'">
      <p>目前所选择的是 <span class="text-red">{{options.item.EquipmentSubTypeName}}</span>?</p>
      <select class="custom-select" style="height:30px" ng-model="select"
        ng-options="item.EquipmentTypeName for item in options.EquipmentTypeList.EquipmentType | filter:filterEquipmentTypeClass">
        <option value="" disabled>請選擇转换类别</option>
      </select>
    </div>

    <!-- 中類轉換 block -->
    <div ng-show="options.setFeature == 'EquipmentTypeMove'">
        <p>确认转换目前中类吗?</p>
        <select class="custom-select" style="height:30px" ng-model="select" 
        ng-options="item.EquipmentClassName for item in options.EquipmentTypeList.EquipmentTypeClass">
        <option value="" disabled>請選擇转换类别</option>
      </select>
      </div>

  </div>
  <div class="modal-footer">
      <button class="btn grey-salt btn-outline font-xs" ng-click="cancel()">取消</button>
      <button class="btn green" 
      ng-disabled="((options.setFeature == 'newEquipmentSubTypeName' || options.setFeature == 'newEquipmentTypeName') && newName == '')
       || (options.setFeature == 'addEquipmentSubType' && newEquipmentSubTypeName == '')
       || (options.setFeature == 'addEquipmentType' && (newEquipmentTypeName == '' || newEquipmentSubTypeName == ''))" 
       ng-click="ok()">确定</button>
  </div>
</script>
