.h-full{
    min-height:150px;
    height:100%;
}

.fileUpload, .fileUpload.nomargin {
    position: relative;
    overflow: hidden;
    margin: 10px 0 10px 50%;
    height: 40px;
    width: 50%;
}
.fileUpload span{height: 40px;padding: 5px 0;}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    height: 40px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("../img/progressbar.gif") !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loading.gif") center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

.table-responsive{box-shadow:0 1px 5px rgba(0, 0, 0, 0.15)}
.panel-default>.panel-heading.NT_teal_bg_04{box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);}
.table-responsive.NT_phototable{box-shadow: 0 0 0;}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
canvas {
    z-index: 999;
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}
.btn.NT_deletBtn{
    position: relative;
    top: -30px;
    right: 0px;
    left: 105px;
    padding: 6px;}
.btn.NT_deletBtn span{font-size:14px}


/* modal 自訂大小 */
.xl-modal>.modal-dialog {width:1050px;}


.panel-fixed-x{
  height: 450px;
  overflow-x: auto;
}

.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-bottom: 0;
  padding: 8px;
  border-top: 1px solid #e7ecf1;
  font-weight: 600; }

  .margin-l-sidebar{
    margin-left: 240px;
  }

  .jiangsuStore{
    font-weight: bold;
    color: red;
  }