
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
    <div class="portlet-title">
        <div class="caption">
            {{'10077' | i18n}}
        </div>
        <!-- <div class="actions">
            <select name="ItemsPerPage" style="width:100px;">
                <option value=""></option>
                <option value="10">10笔/页</option>
                <option value="20">20笔/页</option>
                <option value="50">50笔/页</option>
                <option value="100">100笔/页</option>
            </select>
        </div> -->
    </div>
    <div class="portlet-body no-space">
        <table class="table table-hover dataTable no-space cell-padding-5 v-middle" id="incoming-store">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{'10078' | i18n}}</th>
                    <th>{{'10079' | i18n}}</th>
                    <th>{{'10080' | i18n}}</th>
                    <th>{{'10081' | i18n}}</th>
                    <th>{{'10082' | i18n}}</th>
                    <th>{{'10083' | i18n}}</th>
                    <th class="text-center">{{'10084' | i18n}}</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" ng-show="isLoading">
                        <section class="loaders loaders-bg-4">
                            <span class="loader loader-bars">
                                <span></span>
                            </span>
                            <p class="NT_loader_p">{{'10085' | i18n}}</p>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" ng-show="isSearchError">
                        <section class="loaders loaders-bg-4">
                            <p>{{'10086' | i18n}}</p>
                        </section>
                    </td>
                </tr>
                <tr ng-show="!isLoading" ng-repeat="item in dataList " ng-cloak>
                    <td>
                        <span>{{((tabeObj.currentPage-1) * tabeObj.itemsPerPage) + $index + 1}}</span>
                    </td>
                    <td>
                        <span>{{item.Brand}}</span>
                    </td>
                    <td>
                        <span>{{item.Series}}</span>
                    </td>
                    <td>
                        <span>{{item.ComponentName}}</span>
                    </td>
                    <td>
                        <span>{{item.Model}}</span>
                    </td>
                    <td>
                        <span>{{item.Unit}}</span>
                    </td>
                    <td>
                        <span>{{item.Specifation}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{item.DetailCount}}</span>
                    </td>
                    <!-- <td>
                        <a class="btn btn-xs green" ng-click="openDetail(item)">明细</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="portlet-footer bg-grey-cararra">
        <center ng-show="PaginationisShow">
    <pagination total-items="tabeObj.totalItems" ng-click="pageChanged()" ng-model="tabeObj.currentPage" max-size="tabeObj.maxSize" class="m-t-none m-b" boundary-links="true" rotate="false" items-per-page="tabeObj.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</center>
    </div>
</div>