<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
  <!-- <div class="portlet-title">
        <div class="caption">
            [ {{DeptID}} ] {{DeptName}}
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-icon-only">
                <i class="fa fa-sitemap" ng-click="open()"></i>
            </a>
        </div>
    </div> -->
  <div class="portlet-body no-space padding-l-5">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <ul class="nav nav-tabs tabs-left">
          <li ng-class="{'active':$index==selectedIDX}" ng-repeat="PC in PcompanyList">
            <a data-toggle="tab" ng-class="{'bg-grey':$index==selectedIDX}" href="#" ng-click="ShowSpare(PC.CompanyId,$index)">
              {{PC.Unit}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active">
            <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
              <thead>
                <tr>
                  <!-- <th width="80px"></th> -->
                  <th width="25%">{{'10080' | i18n}}</th>
                  <th>{{'10081' | i18n}}</th>
                  <th width="120">{{'10087' | i18n}}</th>
                  <th width="100">{{'10088' | i18n}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="Items in dataList" style="cursor:pointer">
                  <!-- <td  width="80px">
                                        <img class="media-object" ng-src="{{Items.Avator}}" width="64" height="64">
                                    </td> -->
                  <td>{{Items.ComponentName}}</td>
                  <td>{{Items.Model}}</td>
                  <td>{{Items.ComponentCode}}</td>
                  <td>{{Items.UnitPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
