<script type="text/ng-template" id="batchAddEquipment.html">
  <div class="modal-header">
    <h4 class="modal-title">批量新增品项</h4>
</div>

<!--body-->
<div class="modal-body modal-scrollbar" style="height:420px; overflow: auto; width: auto;padding-bottom:150px;">
    <form id="addForm" name="Equipmentform">
        <!-- 门店 -->
        <div class="row margin-b-10">
            <div class="col-md-4">
                <a class="btn-sm btn-default btn margin-0 padding-tb-6 padding-rl-12 border-1" ng-click="openUnits()">
                    <i class="fa fa-sitemap"></i>
                </a>
            </div>
        </div>
        <div class="row margin-b-20">
            <div class="col-md-12 no-padding padding-5">
                <label class="font-xxs font-yellow padding-5" ng-repeat="item in equipment.Unit">
                    <span class="label label-success">{{item}}</span>
                </label>
            </div>
        </div>
        <div class="row padding-rl-10">
          <div class="col-xs-7 col-md-7 col-lg-7 p-l-n padding-rl-0">
              <div class="row">
                  <div class="col-lg-12">
                      <!-- 名称 -->
                      <div class="form-group">
                          <input class="form-control w-200" required="" ng-model="equipment.EquipmentName" placeholder="设备名称" type="text">
                      </div>
                      <!-- 大类 -->
                      <div class="form-group w-full">
                          <div class="btn-group">
                              <label ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" btn-radio="{{item.EquipmentClass}}" ng-click="setEquipmentTypeClass(item)"
                                  ng-model="equipment.EquipmentTypeClass" class="btn btn-default">{{item.EquipmentClassName}}</label>
                          </div>
                      </div>
                      <!-- 中类 -->
                      <div class="form-group w-full">
                          <!-- 中类 -->
                          <select class="w-200" name="TypeName" ng-model="equipment.EquipmentTypeId" required>
                              <option></option>
                              <option ng-show="equipment.EquipmentClass!==''" ng-repeat="item in EquipmentTypeList.EquipmentTypeName | filter:{'EquipmentClass':equipment.EquipmentTypeClass}"
                                  value="{{item.EquipmentTypeId}}">{{item.EquipmentTypeName}}</option>
                          </select>
                      </div>
                      <!-- 小类 -->
                      <div class="form-group w-full">
                          <!-- 小类 -->
                          <select class="w-200" name="SubTypeName" ng-model="equipment.EquipmentSubTypeId" required>
                              <option></option>
                              <option ng-show="equipment.EquipmentTypeId!==''" ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName | filter:{'EquipmentTypeId':equipment.EquipmentTypeId}"
                                  value="{{item.EquipmentSubTypeId}}">{{item.EquipmentSubTypeName}}</option>
                          </select>
                      </div>
                        <!-- 位置 -->
                        <div class="form-group w-full">
                          <select ng-model="Position" class="form-control" name="Position" ng-options="m.PositionId as m.Position for m in Equipmentpos | orderBy:['SortNo']"
                              required multiple>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </form>
</div>

<!--footer-->
<div class="modal-footer">
    <button class="btn grey-salt btn-outline font-xs" type="button" ng-click="btnCancel()">放弃</button>
    <button class="btn green" type="submit" ng-disabled="Equipmentform.$invalid" ng-click="btnOk()">保存数据</button>
</div>
<div nt-org-picker></div>
</script>
