<script type="text/ng-template" id="importCsv.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12">
                <h3 class="modal-title">CSV导入视窗</h3>
            </div>
        </div>
    </div>
    <div class="panel panel-body m-n" style="height:400px;overflow: auto; width: auto;padding-bottom:40px;">
        <div class="row margin-b-30">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="bold  control-label" style="text-align:left;">类型： </label> {{ImportInfo.Title}}
                </div>
            </div>
        </div>
        <div class="row margin-b-30" ng-show="Params!==''">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="bold  control-label" style="text-align:left;">项目： </label>
                    <span ng-show="Params.MaintainerNickName!==''">{{Params.MaintainerNickName}} </span>
                    <span ng-show="Params.EquipmentSubTypeName!==''">{{Params.EquipmentSubTypeName}} </span>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 bold control-label" style="text-align:left;">档案：</label>
            <div class="col-md-9 text-right">
                <button class="btn btn-sm blue fileinput-button" ng-disabled="Result.type!==0">
                    选取
                    <input ng-disabled="Result.type!==0" id="uploadInput" type="file" class="upload" nv-file-select="" uploader="uploader" style="width:100%;height:100%;"
                    />
                </button>
                <button class="btn btn-sm yellow-crusta" ng-click="clear()">
                    清除
                </button>
                <button class="btn btn-sm red" ng-disabled="Result.type!==0||uploader.queue.length==0" ng-click="checkCsv()">暂存资料夹
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row margin-b-5 margin-t-20" style="min-height:40px;">
            <div class="form-group" ng-show="uploader.queue.length>0">
                <div class="col-md-5">
                    <span style="padding-left:3px;word-break: break-all;">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> {{ uploader.queue[0].file.name }}
                    </span>
                </div>
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" aria-valuenow="{{uploader.progress}}}"
                            aria-valuemin="0" aria-valuemax="100">{{uploader.progress}}%</div>
                    </div>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-ok font-green-jungle" ng-show="uploader.queue[0].isSuccess"></span>
                    <span class="glyphicon glyphicon-remove font-red-thunderbird" ng-show="uploader.queue[0].isError"></span>
                </div>
            </div>
        </div>
        <!-- 导入预览 && 笔数显示 -->
        <div class="row margin-b-30">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="bold  control-label" style="text-align:left;">导入档案预览：</label>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='0'">( 新增设备: {{Result.data.InsertEquipmentsView.length}} 笔 , 更新设备: {{Result.data.UpdateEquipmentsView.length}}
                        笔 )</span>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">( 新增原因: {{Result.data.InsertMappingView.length}} 笔 , 更新原因: {{Result.data.UpdateMappingView.length}}笔
                        ; 新增时限: {{Result.data.InsertPrioritiesView.length}} 笔 , 更新时限: {{Result.data.UpdatePrioritiesView.length}}笔)
                    </span>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='2'">( 新增门店: {{Result.data.InsertUnitView.length}} 笔 , 更新门店: {{Result.data.UpdateUnitView.length}}笔 ; 更新维修员权限列表:
                        {{Result.data.UpdateStickyView.length}} 笔 , 更新人员: {{Result.data.UpdateUserView.length}}笔 )
                    </span>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='3'">( 新增人员: {{Result.data.InsertUserView.length}} 笔 , 更新人员: {{Result.data.UpdateUserView.length}} 笔 )</span>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='4'">( 新增据点: {{Result.data.InsertPUnitsView.length}} 笔 , 更新据点: {{Result.data.UpdatePUnitsView.length}} 笔 , 新增财务讯息: {{Result.data.InsertFinancesView.length}} 笔)</span>
                    <span ng-show="Result.data!==''&&ImportInfo.Type=='5'">( 新增人员: {{Result.data.InsertUserView.length}} 笔 , 更新人员: {{Result.data.UpdateUserView.length}} 笔)</span>
                </div>
            </div>
        </div>
        <!-- 依照数量生成多个表格 -->
        <div class="row" ng-repeat="Table in Tables">
            <div class="col-md-12">
                <div class="portlet box  {{Table.UseColor}}" style="width:830px;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span>{{Table.Title}}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-condensed table-hover" id="Table0{{$index+1}}" style="table-layout: fixed;word-break: break-all;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 未上傳 -->
        <div class="row" ng-show="Result.type==0">
            <span class="font-grey-salsa" style="padding:40px 0px 0px 80px;font-size:18px;">尚未上传</span>
        </div>
        <!-- 等待伺服器端生成表格资料 -->
        <div class="row" ng-show="Result.type==999">
            <span class="font-grey-salsa" style="padding:40px 0px 0px 80px;font-size:18px;">伺服器处理资料中
                <!-- 伺服器获取表格资料中 -->
                <i class="fa fa-refresh fa-spin fa-lg fa-fw" aria-hidden="true"></i>
            </span>
        </div>
        <!-- 錯誤提示 -->
        <div class="row" ng-show="Result.type==-1">
            <div class="col-md-12">
                <p class="font-red-thunderbird margin-t-0" style="width:800px;padding:0px 0px 0px 40px;word-wrap:break-word;word-break: break-all;"
                    ng-bind-html="Result.errorMessage">
                </p>
            </div>
        </div>
        <!-- <div class="row" ng-show="Result.type==0">
            <span class="font-grey-salsa" style="padding:40px 0px 0px 80px;font-size:18px;">未上传</span>
        </div>
        <div class="row" ng-show="Result.type==1">
            <span class="font-green-jungle" style="padding:40px 0px 0px 80px;font-size:18px;">已上传</span>
        </div>
        <div class="row" ng-show="Result.type==-1">
            <span class="font-red-thunderbird" style="padding:40px 0px 0px 80px;font-size:18px;">未上传成功</span>
        </div> -->
    </div>
    <div class="modal-footer">
        <button class="btn grey-salt btn-outline font-xs" ng-click="cancel()">取消</button>
        <button class="btn green" ng-disabled="Result.buttonDisabled==true||PostBtnDisabled==true" ng-click="ok()">
            确定<i ng-show="PostBtnDisabled" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
        </button>
    </div>
</script>