<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered"
  style="max-width:1000px;margin:50px auto;">
  <div class="portlet-title">
    <div class="caption">
      {{'10089' | i18n}}
    </div>
  </div>
  <div class="portlet-body">
    <form class="form-horizontal" name="AddForm">
      <div class="form-body padding-l-30">
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;">
              <span class="font-red-thunderbird">*</span>RS{{'10090' | i18n}}</label>
            <div class="col-md-3">
              <select style="min-width:200px;" name="FormCompanyList" ng-model="Data.CompanyId" required>
                <option></option>
                <option ng-repeat="Company in CompanyList" value="{{Company.CompanyId}}"
                  ng-selected="{{Company.CompanyId==Company.CompanyId}}">{{Company.Nickname}}</option>
              </select>
              <div ng-messages="AddForm.FormCompanyList.$error">
                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10091' | i18n}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;">
              <span class="font-red-thunderbird">*</span>RD{{'10090' | i18n}}</label>
            <div class="col-md-3">
              <select name="sCompanyList" style="width:200px;" ng-model="FilterCompanyId" required>
                <option></option>
                <option ng-repeat="item in sCompanyList" value="{{item.CompanyId}}">{{item.Nickname}}</option>
              </select>
              <div ng-messages="AddForm.sCompanyList.$error">
                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10092' | i18n}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;"></label>
            <div class="col-md-2">
              <select name="TypeClass" style="width:140px;" ng-model="FilterEquipmentClass">
                <option></option>
                <option ng-show="FilterCompanyId!==''" ng-repeat="item in EquipmentTypeList.EquipmentTypeClass"
                  value="{{item.EquipmentClass}}">{{item.EquipmentClassName}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select name="TypeName" style="width:140px;" ng-model="FilterEquipmentTypeId">
                <option></option>
                <option ng-show="FilterEquipmentClass!==''"
                  ng-repeat="item in EquipmentTypeList.EquipmentTypeName | filter:{'CompanyId':FilterCompanyId ,'EquipmentClass':FilterEquipmentClass}"
                  value="{{item.EquipmentTypeId}}">{{item.EquipmentTypeName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;">
              <span class="font-red-thunderbird">*</span>{{'10027' | i18n}}</label>
            <div class="col-md-2">
              <select name="SubTypeName" style="width:140px;" ng-model="Data.EquipmentSubTypeId" required>
                <option></option>
                <option ng-show="FilterEquipmentTypeId!==''"
                  ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName | filter:{'CompanyId':FilterCompanyId ,'EquipmentTypeId':FilterEquipmentTypeId}"
                  value="{{item.EquipmentSubTypeId}}">{{item.EquipmentSubTypeName}}</option>
              </select>
              <div ng-messages="AddForm.SubTypeName.$error">
                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10093' | i18n}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;">
              <span class="font-red-thunderbird"></span>{{'10094' | i18n}}</label>
            <div class="col-md-8">
              <textarea id="CopyTextarea" name="" style="width:100%;" ng-model="EquipCodeList"></textarea>
              <div ng-show="Data.CompanyId==''||Data.EquipmentSubTypeId==''">
                <span class="help-block font-red" style="font-size:12px;">{{'10095' | i18n}}</span>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-sm" ng-click="copy()">
                <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row margin-b-5">
          <div class="form-group">
            <label class="col-md-1 w-100 bold control-label" style="text-align:left;">
              <span class="font-red-thunderbird">*</span>{{'10096' | i18n}}</label>
            <div class="col-md-8 text-right">
              <button class="btn btn-sm blue fileinput-button" ng-disabled="Result.type!==0">
                {{'10097' | i18n}}
                <input ng-disabled="Result.type!==0" id="uploadInput" type="file" class="upload" nv-file-select=""
                  uploader="uploader" style="width:100%;height:100%;" />
              </button>
              <button class="btn btn-sm yellow-crusta" ng-click="clean()">
                {{'10098' | i18n}}
              </button>
              <button class="btn btn-sm red" ng-disabled="Result.type!==0||uploader.queue.length==0"
                ng-click="checkCsv()">{{'10099' | i18n}}
                <i class="fa fa-upload" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row margin-b-5 margin-t-20" style="min-height:40px;">
          <div class="form-group">
            <div class="col-md-5">
              <span style="padding-left:30px;word-break: break-all;">
                <i class="fa fa-file-text-o" aria-hidden="true" ng-show="uploader.queue.length>0"></i>
                <input type="text" name="FileName" style="border-style:none" ng-model="uploader.queue[0].file.name"
                  readonly required>
              </span>
              <div style="padding-left:30px;" ng-messages="AddForm.FileName.$error">
                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10100' | i18n}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress" ng-show="uploader.queue.length>0">
                <div class="progress-bar progress-bar-success" role="progressbar"
                  ng-style="{ 'width': uploader.progress + '%' }" aria-valuenow="{{uploader.progress}}}"
                  aria-valuemin="0" aria-valuemax="100">{{uploader.progress}}%</div>
              </div>
            </div>
            <div class="col-md-1">
              <span class="glyphicon glyphicon-ok font-green-jungle" ng-show="uploader.queue[0].isSuccess"></span>
              <span class="glyphicon glyphicon-remove font-red-thunderbird" ng-show="uploader.queue[0].isError"></span>
            </div>
          </div>
        </div>
        <div class="row margin-b-30">
          <div class="form-group">
            <div class="col-md-12">
              <label class="bold  control-label" style="text-align:left;">{{'10101' | i18n}}：</label>
              <span ng-show="Result.data!==''&&ImportInfo.Type=='0'">( {{'00005' | i18n}}: {{Result.data.InsertEquipmentsView.length}} {{'10102' | i18n}}
                , {{'00011' | i18n}}: {{Result.data.UpdateEquipmentsView.length}}
                {{'10102' | i18n}} )</span>
              <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">( {{'10103' | i18n}}: {{Result.data.InsertMappingView.length}} {{'10102' | i18n}}
                , {{'10104' | i18n}}: {{Result.data.UpdateMappingView.length}}{{'10102' | i18n}}
                ; {{'10105' | i18n}}: {{Result.data.InsertPrioritiesView.length}} {{'10102' | i18n}} , {{'10106' | i18n}}:
                {{Result.data.UpdatePrioritiesView.length}}{{'10102' | i18n}}
                )
              </span>
            </div>
          </div>
        </div>
        <!-- 新增列表 -->
        <div class="row" ng-show="Result.data!==''">
          <div class="col-md-12">
            <div class="portlet box purple" style="width:830px;">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='0'">{{'10107' | i18n}}</span>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">{{'10108' | i18n}}</span>
                </div>
              </div>
              <div class="portlet-body">
                <table class="table table-condensed table-hover" id="InsertTable" style="table-layout: fixed;">
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 更新列表 -->
        <div class="row" ng-show="Result.data!==''">
          <div class="col-md-12">
            <div class="portlet box blue" style="width:830px;">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='0'">{{'10109' | i18n}}</span>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">{{'10110' | i18n}}</span>
                </div>
              </div>
              <div class="portlet-body">
                <table class="table table-condensed table-hover" id="UpdateTable" style="table-layout: fixed;">
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 新增列表(二) -->
        <div class="row" ng-show="Result.data!==''&&ImportInfo.Type==1">
          <div class="col-md-12">
            <div class="portlet box purple" style="width:830px;">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">{{'10111' | i18n}}</span>
                </div>
              </div>
              <div class="portlet-body">
                <table class="table table-condensed table-hover" id="InsertTable2" style="table-layout: fixed;">
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 更新列表(二) -->
        <div class="row" ng-show="Result.data!==''&&ImportInfo.Type==1">
          <div class="col-md-12">
            <div class="portlet box blue" style="width:830px;">
              <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span ng-show="Result.data!==''&&ImportInfo.Type=='1'">{{'10112' | i18n}}</span>
                </div>
              </div>
              <div class="portlet-body">
                <table class="table table-condensed table-hover" id="UpdateTable2" style="table-layout: fixed;">
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 未上傳 -->
        <div class="row" ng-show="Result.type==0">
          <span class="font-grey-salsa" style="padding:40px 0px 0px 80px;font-size:18px;">{{'10113' | i18n}}</span>
        </div>
        <!-- 等待伺服器端生成表格资料 -->
        <div class="row" ng-show="Result.type==999">
          <span class="font-grey-salsa" style="padding:40px 0px 0px 80px;font-size:18px;">{{'10114' | i18n}}
            <!-- 伺服器获取表格资料中 -->
            <i class="fa fa-refresh fa-spin fa-lg fa-fw" aria-hidden="true"></i>
          </span>
        </div>
        <!-- 錯誤提示 -->
        <div class="row" ng-show="Result.type==-1">
          <div class="col-md-12">
            <p class="font-red-thunderbird margin-t-0"
              style="width:800px;padding:0px 0px 0px 40px;word-wrap:break-word;word-break: break-all;"
              ng-bind-html="Result.errorMessage">
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
  <div class="page-footer-inner center">
    <form class="form-inline">
      <div class="btn-group">
        <button type="" ng-click="btnCancel()" class="btn btn-lg green">{{'00002' | i18n}}</button>
      </div>
      <div class="btn-group">
        <button type="" ng-disabled="Result.buttonDisabled==true || AddForm.$valid ==false" ng-click="btnOk()"
          class="btn btn-lg green">{{'00001' | i18n}}</button>
      </div>
    </form>
  </div>
</div>
