<!-- 新增 -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            {{'10115'| i18n}}
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="AddForm">
            <div class="form-body padding-l-30">
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>{{'10116'| i18n}}
                        </label>
                        <div class="col-md-3">
                            <input type="text" name="EquipmentName" class="form-control w-200" placeholder="{{'10117'| i18n}}" ng-model="Data.EquipmentName" required>
                            <div ng-messages="AddForm.EquipmentName.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10118'| i18n}}</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">{{'10031'| i18n}}</label>
                        <div class="col-md-3">
                            <select class="w-200" id="single" name="Brand" ng-model="Data.Brand">
                                <option></option>
                                <option ng-repeat="item in BrandList" value="{{item.Brand}}">{{item.Brand}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">{{'10119'| i18n}}</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" name="Model" ng-model="Data.Model">
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">{{'10120'| i18n}}</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" placeholder="{{'10121'| i18n}}" ng-model="Data.PropertyCode">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>{{'10121'| i18n}}
                        </label>
                        <div class="col-md-3">
                            <span ng-show="Data.Unit!==''">{{Data.Nickname}} - </span>
                            <input type="text" style="border-style:none" name="Unit" ng-model="Data.Unit" readonly required>
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                    <i class="fa fa-sitemap"></i>
                                </a>
                            </div>
                            <div ng-messages="AddForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10122'| i18n}}</span>
                            </div>
                        </div>
                        <!-- <label class="col-md-1 bold control-label" style="text-align:left;">调拨历程</label>
                        <div class="col-md-3">
                            <textarea class="form-control" rows="2" ng-model="Data.Transfer"></textarea>
                        </div> -->
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>{{'10123'| i18n}}
                        </label>
                        <div class="col-md-3">
                            <select name="TypeClass" style="width:140px;" ng-model="Data.EquipmentClass.EquipmentClass" required>
                                <option></option>
                                <option ng-show="Data.Unit!==''" ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" value="{{item.EquipmentClass}}">{{item.EquipmentClassName}}</option>
                            </select>
                            <div ng-messages="AddForm.TypeClass.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10124'| i18n}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>{{'10125'| i18n}}
                        </label>
                        <div class="col-md-3">
                            <select name="TypeName" style="width:140px;" ng-model="Data.EquipmentTypeId" required>
                                <option></option>
                                <option ng-show="Data.EquipmentClass.EquipmentClass!==''" ng-repeat="item in EquipmentTypeList.EquipmentTypeName | filter:{'CompanyId':Data.CompanyId ,'EquipmentClass':Data.EquipmentClass.EquipmentClass}" value="{{item.EquipmentTypeId}}">{{item.EquipmentTypeName}}</option>
                            </select>
                            <div ng-messages="AddForm.TypeName.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10126'| i18n}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>{{'10127'| i18n}}
                        </label>
                        <div class="col-md-3">
                            <select name="SubTypeName" style="width:140px;" ng-model="Data.EquipmentSubTypeId" required>
                                <option></option>
                                <option ng-show="Data.EquipmentTypeId!==''" ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName | filter:{'CompanyId':Data.CompanyId ,'EquipmentTypeId':Data.EquipmentTypeId}"
                                    value="{{item.EquipmentSubTypeId}}">{{item.EquipmentSubTypeName}}</option>
                            </select>
                            <div ng-messages="AddForm.SubTypeName.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10128'| i18n}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">{{'10129'| i18n}}</label>
                        <div class="col-md-2 margin-t-10">
                            <input type="text" style="border-style:none" name="EquipmentCode" ng-model="Data.EquipmentCode" readonly required>
                            <div ng-messages="AddForm.EquipmentCode.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10130'| i18n}}</span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-sm blue" ng-click="getEquipCode(Data.UnitId,Data.EquipmentClass.EquipmentClass)" ng-show="Data.EquipmentClass.EquipmentClass!==''&&Data.UnitId!==''">{{'10131'| i18n}}</a>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;"><span class="font-red-thunderbird">*</span>{{'10132'| i18n}}</label>
                        <div class="col-md-3">
                            <select style="width:300px;" name="Position" class="form-control select2" ng-model="SelectEquipmentpos" required multiple>
                                <option></option>
                                <optgroup label="{{item.Region}}" ng-repeat="item in Equipmentpos">
                                    <option ng-repeat="Equipments in item.children | filter:Data.CompanyId" value="{{Equipments.PositionId}}">{{Equipments.Position}}</option>
                                </optgroup>
                            </select>
                            <div ng-messages="AddForm.Position.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">{{'10133'| i18n}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">{{'10134'| i18n}}</label>
                        <div class="col-md-3">
                            <select style="min-width:200px;" name="FormCompanyList" ng-model="Data.Allocation.MaintainerId">
                                <option></option>
                                <option ng-repeat="Company in CompanyList" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">{{'10135'| i18n}}</label>
                        <div class="col-md-3">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="Data.Service">{{'00097'| i18n}}
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="Data.Service">{{'00096'| i18n}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">报修是否必须附图片</label>
                        <div class="col-md-3">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="Data.Picture">否
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="Data.Picture">是
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">设备状态</label>
                        <div class="col-md-3">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="Data.Status">停用
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="Data.Status">啟用
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || AddForm.$valid ==false" ng-click="btnOk()" class="btn btn-lg green">
                    确定
                </button>
            </div>
        </form>
    </div>
</div>
<div nt-org-picker></div>