<!-- 檢視 -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;"
    ng-show="ViewEdit.status==false">
    <div class="portlet-title">
        <div class="caption">
            设备信息
        </div>
        <div class="actions" ng-if="userInfo.SigninType!=3">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button type="button" class="btn btn-success" ng-disabled="EditButtonDisabled" ng-click="setEdit();">编辑</button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal">
            <div class="form-body padding-l-30">
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">品项编号</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.EquipmentCode}}</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">设备名称</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.EquipmentName}}</p>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">设备品牌</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.Brand}}</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">设备型号</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.Model}}</p>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">资产编号</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.PropertyCode}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">所在门店</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.CompanyNickName}}-{{ViewData.Unit}}</p>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">所在区域</label>
                        <div class="col-md-4">
                            <span class="label label-default margin-r-5" ng-repeat="item in ViewData.Position">{{item.Position}}</span>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="col-md-4 col-lg-4 padding-l-0">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">品项大类</label>
                            <div class="col-md-3">
                                <p class="form-control-static">{{ViewData.EquipmentClass.EquipmentClassName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 padding-l-5">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">品项中类</label>
                            <div class="col-md-3">
                                <p class="form-control-static">{{ViewData.EquipmentTypeName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 padding-rl-0">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">品项小类</label>
                            <div class="col-md-3">
                                <p class="form-control-static">{{ViewData.EquipmentSubTypeName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="text-align:left;min-width:100px;">预设维修商</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{ViewData.Allocation[0].MaintainerNickName}}</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">是否厂商网点类</label>
                        <div class="col-md-3">
                            <p class="form-control-static" ng-show="ViewData.Service==0">否</p>
                            <p class="form-control-static" ng-show="ViewData.Service==1">是</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">报修是否必须附图片</label>
                        <div class="col-md-3">
                            <p class="form-control-static" ng-show="ViewData.Picture==0">否</p>
                            <p class="form-control-static" ng-show="ViewData.Picture==1">是</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">设备状态</label>
                        <p class="form-control-static" ng-show="ViewData.Status==0">未启用</p>
                        <p class="form-control-static" ng-show="ViewData.Status==1">启用</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="row padding-rl-10">
            <div equipment-repair-list-table></div>
        </div>

    </div>
</div>

<!-- 編輯 -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;"
    ng-show="ViewEdit.status==true">
    <div class="portlet-title">
        <div class="caption">
            编辑设备信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="EditForm">
            <div class="form-body padding-30">
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">品项编号</label>
                        <div class="col-md-3">
                            <p class="form-control-static">{{EditData.EquipmentCode}}</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label  w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>设备名称
                        </label>
                        <div class="col-md-3">
                            <input type="text" name="EquipmentName" class="form-control w-100" placeholder="请输入设备名称" ng-model="EditData.EquipmentName"
                                required>
                            <div ng-messages="EditForm.EquipmentName.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">設備名稱必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold control-label  w-100" style="text-align:left;">设备品牌</label>
                        <div class="col-md-3">
                            <select class="w-200" id="single" name="Brand" ng-model="EditData.Brand">
                                <option></option>
                                <option ng-repeat="item in BrandList" value="{{item.Brand}}">{{item.Brand}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">设备型号</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" name="Model" ng-model="EditData.Model">
                        </div>
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">资产编号</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control w-200" placeholder="请输入资产编号" ng-model="EditData.PropertyCode">
                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                    <span class="font-red-thunderbird">*</span>所在门店
                                </label>
                                <div class="col-md-3">
                                    <span ng-show="EditData.Unit!==''">{{EditData.CompanyNickName}} - </span>
                                    <input type="text" style="border-style:none" name="Unit" ng-model="EditData.Unit" readonly required>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                    <i class="fa fa-sitemap"></i>
                                </a>
                                    </div>
                                    <div ng-messages="EditForm.Unit.$error">
                                        <span class="help-block font-red" style="font-size:12px;" ng-message="required">所在门店必填</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                    <span class="font-red-thunderbird">*</span>所在区域
                                </label>
                                    <div class="col-md-3">
                                        <select style="width:300px;" name="Position" class="form-control select2" ng-model="SelectEquipmentpos" required
                                        multiple>
                                        <option></option>
                                        <optgroup label="{{item.Region}}" ng-repeat="item in Equipmentpos">
                                            <option ng-repeat="Equipments in item.children | filter:EditData.CompanyId" value="{{Equipments.PositionId}}">{{Equipments.Position}}</option>
                                        </optgroup>
                                    </select>
                                        <div ng-messages="EditForm.Position.$error">
                                            <span class="help-block font-red" style="font-size:12px;" ng-message="required">所在区域必填</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-b-5">
                            <div class="col-md-4 col-lg-4 padding-l-0">
                                <div class="form-group">
                                    <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>品项大类
                            </label>
                                    <div class="col-md-3">
                                        <select name="TypeClass" style="width:140px;" ng-model="EditData.EquipmentClass.EquipmentClass" required>
                                    <option></option>
                                    <option ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" value="{{item.EquipmentClass}}">{{item.EquipmentClassName}}</option>
                                </select>
                                        <div ng-messages="EditForm.TypeClass.$error">
                                            <span class="help-block font-red" style="font-size:12px;" ng-message="required">品项大类必填</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 padding-l-5">
                                <div class="form-group">
                                    <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>品项中类
                            </label>
                                    <div class="col-md-3">
                                        <select name="TypeName" style="width:140px;" ng-model="EditData.EquipmentTypeId" required>
                                    <option></option>
                                    <option ng-repeat="item in EquipmentTypeList.EquipmentTypeName | filter:{'CompanyId':EditData.CompanyId,'EquipmentClass':EditData.EquipmentClass.EquipmentClass}" value="{{item.EquipmentTypeId}}">{{item.EquipmentTypeName}}</option>
                                </select>
                                        <div ng-messages="EditForm.TypeName.$error">
                                            <span class="help-block font-red" style="font-size:12px;" ng-message="required">品项中类必填</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 padding-rl-0">
                                <div class="form-group">
                                    <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>品项小类
                            </label>
                                    <div class="col-md-3">
                                        <select name="SubTypeName" style="width:140px;" ng-model="EditData.EquipmentSubTypeId" required>
                                    <option value=""></option>
                                    <option ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName | filter:{'CompanyId':EditData.CompanyId,'EquipmentTypeId':EditData.EquipmentTypeId}"
                                        value="{{item.EquipmentSubTypeId}}">{{item.EquipmentSubTypeName}}</option>
                                </select>
                                        <div ng-messages="EditForm.SubTypeName.$error">
                                            <span class="help-block font-red" style="font-size:12px;" ng-message="required">品项小类必填</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-b-5">
                            <div class="form-group">
                                <label class="col-md-1 bold control-label w-100" style="text-align:left;">预设维修商</label>
                                <div class="col-md-3">
                                    <select style="min-width:200px;" name="FormCompanyList" ng-model="EditData.Allocation[0].MaintainerId">
                                <option></option>
                                <option ng-repeat="Company in CompanyList" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-b-5">
                            <div class="form-group">
                                <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">是否厂商网点类</label>
                                <div class="col-md-3">
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="EditData.Service">否
                                    <span></span>
                                </label>
                                        <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="EditData.Service">是
                                    <span></span>
                                </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-b-5">
                            <div class="form-group">
                                <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">报修是否必须附图片</label>
                                <div class="col-md-3">
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="EditData.Picture">否
                                    <span></span>
                                </label>
                                        <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="EditData.Picture">是
                                    <span></span>
                                </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-b-5">
                            <div class="form-group">
                                <label class="col-md-1 bold control-label" style="width:160px;text-align:left;">设备状态</label>
                                <div class="col-md-3">
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="EditData.Status">停用
                                    <span></span>
                                </label>
                                        <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="EditData.Status">啟用
                                    <span></span>
                                </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </form>

        <!-- <div class="row padding-rl-10">
            <div equipment-repair-list-table></div>
        </div> -->
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar" ng-show="ViewEdit.status==true">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="ViewEdit.status=false" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || EditForm.$valid ==false" ng-click="btnOk()" class="btn btn-lg green">
                    确定
                </button>
            </div>
        </form>
    </div>
</div>

<div nt-org-picker></div>