<div class="note no-border bg-grey-cararra ">
  <form class="form-inline">
    <div class="row margin-b-10">
      <div class="col-md-3">
        <div class="form-group" style="width:100%">
          <div class="col-md-12">
            <input type="text" class="form-control" style="width:100%" placeholder="设备编号或设备名称关键字查询"
              ng-model="SearchParams.EquipmentCodeOrName" />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">门店</label>
          <!-- <div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-icon-only">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div> -->
          {{SearchParams.Unit}}
          <div class="btn-group">
            <a href="javascript:;" class="btn btn-default btn-icon-only" ng-click="setCompany()">
              <i class="fa fa-sitemap"></i>
            </a>
          </div>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">设备品牌</label>
          <select name="Brand" style="width:140px;" ng-model="SearchParams.Brand">
            <option value="">请选择品牌</option>
            <option ng-repeat="item in BrandList">{{item.Brand}}</option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">设备状态</label>
          <select name="Status" style="width:140px;" ng-model="SearchParams.Status">
            <option value=""></option>
            <option value="-2">请选择状态</option>
            <option value="0">停用</option>
            <option value="1">启用</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group " style="width:100%">
          <div class="col-md-12">
            <button type="submit" style="width:100%" class="btn blue-sharp" ng-click="Search(1)">
              查找
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">设备大类</label>
          <select name="TypeClass" style="width:140px;" ng-model="SearchParams.EquipmentTypeClass">
            <option value=""></option>
            <option value="-2">请选择大類</option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" value="{{item.EquipmentClass}}">
              {{item.EquipmentClassName}}</option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">设备中类</label>
          <select name="TypeName" style="width:140px;" ng-model="SearchParams.EquipmentTypeName">
            <option value="">请选择中類</option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentTypeName |unique:'EquipmentTypeName'"
              value="{{item.EquipmentTypeName}}">{{item.EquipmentTypeName}}</option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">设备小类</label>
          <select name="SubTypeName" style="width:140px;" ng-model="SearchParams.EquipmentSubTypeName">
            <option value="">请选择小類</option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName |unique:'EquipmentSubTypeName'"
              value="{{item.EquipmentSubTypeName}}">{{item.EquipmentSubTypeName}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
