<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-target="#tab_1_0" data-toggle="tab" ng-click="loadList(0)"> 报修原因及时限 </a>
        </li>
        <li>
            <a href="#" data-target="#tab_1_1" data-toggle="tab" ng-click="loadList(1)"> 报修历程 </a>
        </li>
        <li>
            <a href="#" data-target="#tab_1_2" data-toggle="tab" ng-click="loadList(2)"> 调拨历程 </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_0">
            <table class="table table-hover dataTable no-space cell-padding-5">
                <thead>
                    <tr>
                        <th>报修原因</th>
                        <th>时限</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in CausePriorityList">
                        <td class="font-blue-madison">{{item.Cause}}</td>
                        <td class="font-blue-madison">{{item.Priority}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade active" id="tab_1_1">
            <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>报修单号</th>
                        <th width="150px">报修时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in RezHistories">
                        <td>{{item.AccrualTypeName}}</td>
                        <td><a href="../CallCenter/detail.html?rid={{item.RequisitionId}}&cid={{ViewData.CompanyId}}&isInspect={{item.Maintenance}}" target="_blank">{{item.CaseNo}}</a></td>
                        <td>{{item.DateM}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade active" id="tab_1_2">
            <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
                <thead>
                    <tr>
                        <th>调拨记录</th>
                        <th width="150px">调拨时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in TransferHistories">
                        <td>{{item.Info}}</td>
                        <td>{{item.CreateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- </div>
    <div class="portlet-footer bg-grey-cararra">
        <center ng-show="PaginationisShow">
            <pagination total-items="totalItems" ng-click="pageChanged()" ng-model="currentPage" max-size="maxSize"
                class="m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </center>
    </div> -->
</div>