<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered margin-b-50">
    <div class="portlet-title">
        <div class="caption">
            设备列表
        </div>
        <div class="actions" ng-if="userInfo.SigninType!=3">
            <div ng-click="downloadExcel(userInfo.Passport,'0')" class="btn-group btn-group-devided"
                data-toggle="buttons">
                <a class="btn btn-circle grey-salsa">
                    <i class="fa fa-file-o"></i> 模版下载</a>
            </div>
        </div>
    </div>
    <div class="portlet-body no-space">
        <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
            <thead>
                <tr>
                    <th>设备编号</th>
                    <th>设备名称</th>
                    <th>所属门店</th>
                    <th>品牌</th>
                    <th>预设厂商</th>
                    <th>设备状态</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in EquipmentList">
                    <td>
                        {{item.EquipmentCode}}
                    </td>
                    <td>{{item.EquipmentName}}</td>
                    <td>{{item.Unit}}</td>
                    <td>{{item.Brand}}</td>
                    <td>{{item.Manufacturer}}</td>
                    <td ng-show="item.Status==0">停用</td>
                    <td ng-show="item.Status==1">启用</td>
                    <td>
                        <a ng-href="#/equipment/detail/{{item.EquipmentId}}" target="_blank">
                            <button type="button" class="btn btn-xs btn-info">详情</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="portlet-footer bg-grey-cararra">
        <center ng-show="PaginationisShow">
            <pagination total-items="totalItems" ng-click="pageChanged(currentPage)" ng-model="currentPage" max-size="5"
                class="m-t-none m-b" boundary-links="true" rotate="false" items-per-page="20" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </center>
    </div>
</div>
