<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
    <div class="portlet-title">
        <div class="caption">
            [ {{DeptID}} ] {{DeptName}}
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-icon-only">
                <i class="fa fa-sitemap" ng-click="open()"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body no-space padding-l-5">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <ul class="nav nav-tabs tabs-left">
                    <li ng-class="{'active':$index==0}" ng-repeat="Item in TypeList">
                        <a href="#" data-toggle="tab" ng-click="ShowEquipment(Item.EquipmentTypeId,Item.EquipmentTypeName,1)"> {{Item.EquipmentTypeName}} </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th width="120px">设备代码</th>
                                    <th width="160px">设备</th>
                                    <th>放置区域</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Items in EquipmentList" style="cursor:pointer">
                                    <td ng-click="showImg(Items.AvatorId)">
                                        <img class="media-object" ng-src="{{Items.Avator}}" width="64" height="64">
                                    </td>
                                    <td width="120px" ng-click="ModifyEquipmentOpen('Modify',Items)">{{Items.EquipmentCode}}</td>
                                    <td width="160px" ng-click="ModifyEquipmentOpen('Modify',Items)">{{Items.EquipmentName}}</td>
                                    <td ng-click="ModifyEquipmentOpen('Modify',Items)">
                                        <span class="label label-primary font-xs" ng-repeat="Positions in Items.Position">{{Positions.Region}}-{{Positions.Position}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <center ng-show="isShow">
                            <pagination total-items="totalItems" ng-click="pageChanged()" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ShowImg.html">
    <div style="top:50%;left: 50%;" id="showdiv">
        <img id="img1" ng-src="{{showImgData}}" class="w-full" />
    </div>
</script>
<modify-equipment></modify-equipment>
<div nt-org-picker></div>