<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            新增据点信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="AddForm">
            <div class="form-body">
                <h4 class="bold">据点基本信息</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>客户全称</label>
                        <div class="col-md-3">
                            <select style="min-width:200px;" name="pCompanyList" ng-model="Data.CompanyId" required>
                                <option></option>
                                <option ng-repeat="Company in pCompanyList" data-nickname="{{Company.Nickname}}" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                            <div ng-messages="AddForm.pCompanyList.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">客户全称必填</span>
                            </div>
                        </div>
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>客户简称
                        </label>
                        <div class="col-md-2">
                            <span class="w-200" style="line-height:36px;">{{Data.Nickname}}</span>
                        </div>
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>据点名称</label>
                        <div class="col-md-3">
                            <input type="text" name="Unit" class="form-control"  style="min-width:200px;" placeholder="请输入据点名称" ng-model="Data.Unit" required>
                            <div ng-messages="AddForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">据点必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">据点地址</label>
                        <div class="col-md-7">
                            <input style="width: 610px;" type="text" class="form-control" placeholder="请输入据点地址" ng-model="Data.StreetAddress">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>负责区域</label>
                        <div class="col-md-3">
                            <select style="width:100%;" name="sCompanyList" class="form-control select2" ng-model="Data.ClientIds" required multiple>
                                <option ng-repeat="Company in sCompanyList" value="{{Company.CompanyId}}">{{Company.Nickname}}</option>
                            </select>
                            <div ng-messages="AddForm.sCompanyList.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">负责区域必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <label class="col-md-1  control-label padding-l-0 padding-r-0" style="text-align:left;">据点窗口
                        <i class="fa fa-user-plus" aria-hidden="true" ng-click="addLiaison()"></i>
                    </label>
                    <div class="col-md-11">
                        <div class="row margin-b-10" ng-repeat="item in Data.Liaisons">
                            <div class="col-md-2 padding-l-0">
                                <div class="input-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" placeholder="请输入姓名" ng-model="item.Name">
                                </div>
                            </div>
                            <div class="col-md-4 padding-l-0">
                                <input type="text" class="form-control" placeholder="請輸入電話" ng-model="item.PhoneNo">
                            </div>
                            <div class="col-md-4 padding-l-0">
                                <input type="text" class="form-control" placeholder="請輸入mail" ng-model="item.Email">
                            </div>
                            <div class="col-md-1 padding-l-0">
                                <i style="line-height: 35px;" class="fa fa-times font-red-thunderbird" ng-click="deleteLiaison($index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || AddForm.$valid==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
            </div>
        </form>
    </div>
</div>

<div nt-org-picker></div>