<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            新增维修商人员信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="AddForm">
            <div class="form-body padding-l-60">
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员工号</label>
                        <div class="col-md-3">
                            <input type="text" name="uId" class="form-control w-200" placeholder="请输入人员工号" ng-model="Data.InfrasUser.UserId" required>
                            <div ng-messages="AddForm.uId.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员工号必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>帐号类型</label>
                        <div class="col-md-3">
                            <select class="w-200" name="IsManagerAccount" ng-model="Data.InfrasUser.IsManagerAccount" required>
                                <option value=""></option>
                                <option value="0">一般帐号</option>
                                <option value="1">管理帐号</option>
                            </select>
                            <div ng-messages="AddForm.IsManagerAccount.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">帐号类型必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group margin-b-0">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员姓名</label>
                        <div class="col-md-3">
                            <input type="text" name="name" class="form-control w-200" placeholder="请输入人员姓名" ng-model="Data.InfrasUser.UserName" required>
                            <div ng-messages="AddForm.name.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员姓名必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>启用/停用</label>
                        <div class="col-md-3">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="Status" value="1" ng-checked="true" required>啟用
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>所在客户</label>
                        <div class="col-md-3">
                            <select style="min-width:200px;" name="C1" ng-model="Data.InfrasUser.CompanyId" required>
                                <option></option>
                                <option value="{{Company.CompanyId}}" ng-repeat="Company in CompanyList">{{Company.CompanyName}}</option>
                            </select>
                            <div ng-messages="AddForm.C1.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">所在客户必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员职称</label>
                        <div class="col-md-3">
                            <select class="w-200" name="TitleList" ng-model="Data.InfrasUser.TitleId" required>
                                <option></option>
                                <option ng-repeat="item in TitleList" value="{{item.TitleId}}">{{item.Title}}</option>
                            </select>
                            <div ng-messages="AddForm.TitleList.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员职称必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员电话</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" placeholder="请输入人员电话" ng-model="Data.Phones">
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员邮箱</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" placeholder="请输入人员邮箱" ng-model="Data.Emails">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员职位</label>
                        <div class="col-md-3">
                            <select class="w-200" name="Identity" ng-model="Data.InfrasUser.Identity" required>
                                <option></option>
                                <option ng-repeat="item in IdentityList" value="{{item.value}}">{{item.title}}</option>
                            </select>
                            <div ng-messages="AddForm.Identity.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员职位必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>所属据点
                        </label>
                        <div class="col-md-4">
                            <div style="display:inline-block;min-width:200px;">{{Data.InfrasUser.CompanyNickName}} - {{Data.InfrasUser.Unit}}</div>
                            <input type="hidden" name="Unit" ng-model="Data.InfrasUser.Unit" required>
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                            <div ng-messages="AddForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">所属据点必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5" ng-show="Data.InfrasUser.IsManagerAccount==1">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>管理据点
                        </label>
                        <div class="col-md-3">
                            <span style="display:inline-block;width:200px;line-height:36px;">已选取{{Data.Accessories.length||'0'}}间</span>
                            <input type="text" style="display:none;" name="UnitIds" ng-model="Data.Accessories" ng-required="Data.InfrasUser.IsManagerAccount==1">
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setUnits()">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                            <div ng-messages="AddForm.UnitIds.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">管理据点必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5" ng-show="Data.InfrasUser.IsManagerAccount==1">
                    <div class="form-group">
                        <div class="col-md-2 padding-5" ng-repeat="item in Data.AccessoriesStr">
                            <span class="label label-info">{{item}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || AddForm.$valid==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
            </div>
        </form>
    </div>
</div>

<div nt-org-picker></div>