<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
        <div class="portlet-title">
            <div class="caption">
                编辑维修商人员信息
            </div>
        </div>
        <div class="portlet-body">
            <form class="form-horizontal" name="EditForm">
                <div class="form-body padding-l-60">
                    <div class="row margin-b-5">
                        <div class="form-group">
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>人员工号</label>
                            <div class="col-md-3">
                                <span style="display:inline-block;line-height:36px;">{{Data.UserId}}</span>
                            </div>
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>帐号类型</label>
                            <div class="col-md-3">
                                <select class="w-200" name="IsManagerAccount" ng-model="Data.IsManagerAccount" required>
                                    <option value=""></option>
                                    <option value="0">一般帐号</option>
                                    <option value="1">管理帐号</option>
                                </select>
                                <div ng-messages="EditForm.IsManagerAccount.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">帐号类型必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5">
                        <div class="form-group margin-b-0">
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>人员姓名</label>
                            <div class="col-md-3">
                                <input type="text" name="name" class="form-control w-200" placeholder="请输入人员姓名" ng-model="Data.UserName" required>
                                <div ng-messages="EditForm.name.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员姓名必填</span>
                                </div>
                            </div>
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>启用/停用</label>
                            <div class="col-md-3">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="Status" value="0" ng-model="Data.Status" required>停用
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="Status" value="1" ng-model="Data.Status" required>啟用
                                        <span></span>
                                    </label>
                                </div>
                                <div ng-messages="EditForm.Status.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">启用/停用 必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>所在客户</label>
                            <div class="col-md-3">
                                <select style="min-width:200px;" name="C1" ng-model="Data.CompanyId" required>
                                    <option></option>
                                    <option value="{{Company.CompanyId}}" ng-repeat="Company in CompanyList">{{Company.CompanyName}}</option>
                                </select>
                                <div ng-messages="EditForm.C1.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">所在客户必填</span>
                                </div>
                            </div>
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>人员职称</label>
                            <div class="col-md-3">
                                <select class="w-200" name="TitleList" ng-model="Data.TitleId" required> 
                                    <option></option>
                                    <option ng-repeat="item in TitleList" value="{{item.TitleId}}">{{item.Title}}</option>
                                </select>
                                <div ng-messages="EditForm.TitleList.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员职称必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5">
                        <div class="form-group">
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员电话</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control w-200" placeholder="请输入人员电话" ng-model="Data.Phone">
                            </div>
                            <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员邮箱</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control w-200" placeholder="请输入人员邮箱" ng-model="Data.Email">
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>人员职位</label>
                            <div class="col-md-3">
                                <select class="w-200" name="Identity" ng-model="Data.Identity" required>
                                    <option></option>
                                    <option ng-repeat="item in IdentityList" value="{{item.value}}">{{item.title}}</option>
                                </select>
                                <div ng-messages="EditForm.Identity.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员职位必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>所属据点
                            </label>
                            <div class="col-md-4">
                                <div style="display:inline-block;min-width:200px;">{{Data.CompanyNickName}} - {{Data.Unit}}</div>
                                <input type="hidden" name="Unit" ng-model="Data.Unit" required>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                </div>
                                <div ng-messages="EditForm.Unit.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">所属据点必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5" ng-show="Data.IsManagerAccount==1">
                        <div class="form-group">
                            <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                                <span class="font-red-thunderbird">*</span>管理据点
                            </label>
                            <div class="col-md-3">
                                <span style="display:inline-block;width:200px;line-height:36px;">已选取{{Data.Accessories.length||'0'}}间</span>
                                <input type="text" style="display:none;" name="UnitIds" ng-model="Data.Accessories" ng-required="Data.IsManagerAccount==1">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-icon-only" ng-click="setUnits()">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                </div>
                                <div ng-messages="EditForm.UnitIds.$error">
                                    <span class="help-block font-red" style="font-size:12px;" ng-message="required">管理据点必填</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-b-5" ng-show="Data.IsManagerAccount==1">
                        <div class="form-group">
                            <div class="col-md-2 padding-5" ng-repeat="item in Data.AccessoriesStr">
                                <span class="label label-info">{{item}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- footer -->
    <div class="page-footer action-bar">
        <div class="page-footer-inner center">
            <form class="form-inline">
                <div class="btn-group">
                    <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
                </div>
                <div class="btn-group">
                    <button type="" ng-disabled="buttonDisabled==true || EditForm.$valid==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
                </div>
            </form>
        </div>
    </div>
    
    <div nt-org-picker></div>