<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            编辑据点信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="EditForm">
            <div class="form-body">
                <h4 class="bold">据点基本信息</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>客户全称</label>
                        <div class="col-md-3">
                            <select style="min-width:200px;max-width:300px;" name="pCompanyList" ng-model="Data.CompanyId" required>
                                <option></option>
                                <option ng-repeat="Company in pCompanyList" data-nickname="{{Company.Nickname}}" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                            <div ng-messages="EditForm.pCompanyList.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">客户全称必填</span>
                            </div>
                        </div>
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>客户简称
                        </label>
                        <div class="col-md-2">
                            <span class="w-200" style="line-height:36px;">{{Data.Nickname}}</span>
                        </div>
                        <label class="col-md-1  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>据点名称</label>
                        <div class="col-md-3">
                            <input type="text" name="Unit" class="form-control" style="min-width:200px;" placeholder="请输入据点名称" ng-model="Data.Unit" required>
                            <div ng-messages="EditForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">据点必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">据点地址</label>
                        <div class="col-md-7">
                            <input style="width: 610px;" type="text" class="form-control" placeholder="请输入据点地址" ng-model="Data.StreetAddress">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>负责区域</label>
                        <div class="col-md-3">
                            <select style="width:100%;" name="sCompanyList" class="form-control select2" ng-model="Data.ClientIds" required multiple>
                                <option ng-repeat="Company in sCompanyList" value="{{Company.CompanyId}}">{{Company.Nickname}}</option>
                            </select>
                            <div ng-messages="EditForm.sCompanyList.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">负责区域必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <label class="col-md-1  control-label padding-l-0 padding-r-0" style="text-align:left;">据点窗口
                        <i class="fa fa-user-plus" aria-hidden="true" ng-click="addLiaison()"></i>
                    </label>
                    <div class="col-md-11">
                        <div class="row margin-b-10" ng-repeat="item in Data.Liaisons track by $index">
                            <div class="col-md-2 padding-l-0">
                                <div class="input-icon">
                                    <i class="fa fa-user" ng-click="selectUser('M','Liaisons',$index)"></i>
                                    <input type="text" class="form-control" placeholder="请输入姓名" ng-model="item.Name">
                                </div>
                            </div>
                            <div class="col-md-4 padding-l-0">
                                <input type="text" class="form-control" placeholder="請輸入電話" ng-model="item.PhoneNo">
                            </div>
                            <div class="col-md-4 padding-l-0">
                                <input type="text" class="form-control" placeholder="請輸入mail" ng-model="item.Email">
                            </div>
                            <div class="col-md-1 padding-l-0">
                                <i style="line-height: 35px;" class="fa fa-times font-red-thunderbird" ng-click="deleteLiaison($index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <h4 class="bold">管理人员信息</h4>
            <div class="row margin-b-5  padding-l-30">
                <div class="form-group">
                    <label class="col-md-1  control-label" style="text-align:left;">据点负责人</label>
                    <div class="col-md-2">
                        <div class="input-icon" ng-click="selectUser('S','managerA')">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerA.UserName" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-b-5  padding-l-30">
                <div class="form-group">
                    <label class="col-md-1  control-label" style="text-align:left;">据点调度</label>
                    <div class="col-md-2">
                        <div class="input-icon" ng-click="selectUser('S','managerB')">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerB.UserName" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-b-5  padding-l-30">
                <div class="form-group">
                    <label class="col-md-1  control-label" style="text-align:left;">项目管理人</label>
                    <div class="col-md-2">
                        <div class="input-icon" ng-click="selectUser('S','managerC')">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerC.UserName" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <h4 class="bold">据点财务信息
                <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addFinance()"></i>
            </h4>
            <div ng-repeat="item in Data.Finances" class="margin-b-10" style="position: relative; padding: 30px 0px 10px 0px;border: 1px solid #e0e0e0;">
                <!-- 删除按钮 -->
                <div style="position: absolute;top:0px;right:10px;">
                    <div class="col">
                        <i style="line-height: 35px;" class="fa fa-times font-red-thunderbird" ng-click="deleteFinance($index)"></i>
                    </div>
                </div>
                <!-- 内容 -->
                <div class="row margin-b-5  padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:130px;">对应门店的公司</label>
                        <div class="col-md-5">
                            <select style="min-width:200px;" name="FinanceCompanyList" ng-model="item.FinanceCompanyId">
                                <option></option>
                                <option ng-repeat="Company in sCompanyList" data-nickname="{{Company.Nickname}}" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5  padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:130px;">收款银行</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入收款银行" ng-model="item.Bank">
                        </div>
                        <label class="col-md-1 control-label" style="text-align:left;min-width:100px;">银行帐号</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入银行帐号" ng-model="item.BankAccount">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5  padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:100px;">请款日(起)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control w-60" placeholder="1~31" ng-model="item.PaymentStartline">
                        </div>
                        <label class="col-md-1 control-label" style="text-align:left;min-width:100px;">请款日(迄)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control w-60" placeholder="1~31" ng-model="item.PaymentDeadline">
                        </div>
                        <label class="col-md-1 control-label" style="text-align:left;min-width:130px;">签款签核截止日</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control w-60" placeholder="1~31" ng-model="item.PaymentApproveDeadline">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5  padding-l-30">
                    <div class="form-group margin-b-0">
                        <label class="col-md-1 control-label" style="text-align:left;">相关凭证</label>
                        <div class="col-md-11">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="item.Voucher">未设定
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="item.Voucher">合约
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="2" ng-model="item.Voucher">请款单
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="3" ng-model="item.Voucher">采购单
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="4" ng-model="item.Voucher">验收单
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="5" ng-model="item.Voucher">入库单
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="6" ng-model="item.Voucher">送货单
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="7" ng-model="item.Voucher">对帐单
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5  padding-l-30">
                    <div class="form-group margin-b-0">
                        <label class="col-md-1 control-label" style="text-align:left;">付款方式</label>
                        <div class="col-md-11">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" value="0" ng-model="item.Way">未设定
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="1" ng-model="item.Way">现金
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="2" ng-model="item.Way">银行转帐
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" value="3" ng-model="item.Way">支票
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || EditForm.$valid==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
            </div>
        </form>
    </div>
</div>

<!-- 选取人员 -->
<div nt-users-picker></div>