<script type="text/ng-template" id="SaveSearchParams.html">
    <div class="modal-header">
        <h3 class="modal-title">保存查询条件</h3>
    </div>
    <form name="TransferForm" class="form-validation" novalidate>
        <div class="panel panel-body m-n">               
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label class="font-xxs font-yellow">名称</label>
                        <div class="input-group">
                            <input type="text" required="" class="form-control m-b" ng-model="SearchParams.Name" placeholder="名称" autocomplete="off" required>
                        </div>
                    </div>
                </div>
            </div>       
            <!-- <div class="form-group">
                <label class="font-xxs font-yellow">条件说明</label>
                <textarea class="form-control" rows="6" ng-model="SearchParams.Remark" placeholder="条件说明"></textarea>
            </div>    -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-light" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="TransferForm.$invalid">确定</button>
        </div>
    </form>
</script>