<!-- 研华信息看板 -->
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="row row-sm text-center">
      <div class="col-xs-6">
        <a class="block panel padder-v bg-grey item" ng-click="gotoList(0)" href="javascript:;">
          <span class="text-info font-thin h1 block">{{InfoBoard.CompanyCount}}</span>
          <span class="text-muted text-md">{{'10012' | i18n}}</span>
          <span class="bottom text-right w-full">
            <i class="fa fa-link text-warning m-r-sm">
            </i>
          </span>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="block panel padder-v bg-primary item" ng-click="gotoList(1)" href="javascript:;">
          <span class="text-white font-thin h1 block">{{InfoBoard.UnitCount}}</span>
          <span class="text-muted text-md">{{'10013' | i18n}}</span>
          <span class="bottom text-right w-full">
            <i class="fa fa-dot-circle-o text-muted m-r-sm">
            </i>
          </span>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="block panel padder-v bg-info item" ng-click="gotoList(2)" href="">
          <span class="text-white font-thin h1 block">{{InfoBoard.EquipCount}}</span>
          <span class="text-muted text-md">{{'10014' | i18n}}</span>
          <span class="bottom text-right w-full">
            <i class="fa fa-cubes text-warning m-r-sm">
            </i>
          </span>
        </a>
      </div>
      <div class="col-xs-6">
        <a class="block panel padder-v bg-grey item" ng-click="gotoList(3)" href="javascript:;">
          <span class="font-thin h1 block">{{InfoBoard.UserCount}}</span>
          <span class="text-muted text-md">{{'10015' | i18n}}</span>
          <span class="bottom text-right w-full">
            <i class="fa fa-user text-thin m-r-sm">
            </i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
      <div class="col-md-12 col-lg-12 m-b-md">
          <div class="panel panel-default  no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">{{'10016' | i18n}}</h4>
            </div>
            <div class="panel-body">
            <ul class="list-group list-group-lg">
              <li class="list-group-item">
                <span class="label text-success inline m-t-sm">{{'10017' | i18n}}</span>
                <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="syncDATA('unit')">{{'00011' | i18n}}</button>
              </li>
              <li class="list-group-item">
                <span class="label text-success inline m-t-sm">{{'10018' | i18n}}</span>
                <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="syncDATA('equipment')">{{'00011' | i18n}}</button>
              </li>
              <li class="list-group-item">
                <span class="label text-success inline m-t-sm">{{'10019' | i18n}}</span>
                <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="syncDATA('error')">{{'00011' | i18n}}</button>
              </li>
            </ul>
          </div>
          </div>
        </div>
</div>
