<!-- 报修原因及时限 -->
<div class="note no-border bg-grey-cararra ">
  <form class="form-inline padding-l-10">
    <div class="row margin-b-10">
      <div class="col-md-12">
        <div class="form-group margin-r-20" style="min-width:350px;">
          <label class="control-label bold" style="width:60px;">{{'10020' | i18n}}</label>
          <select style="min-width:280px;" name="sCompanyList" ng-model="SearchParams.sCompanyId">
            <option></option>
            <option ng-repeat="Company in sCompanyList" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
          </select>
        </div>
        <div class="form-group margin-r-20" style="min-width:350px;">
          <label class="control-label bold" style="width:60px;">{{'10021' | i18n}}</label>
          <select style="min-width:280px;" name="pCompanyList" ng-model="SearchParams.pCompanyId">
            <option></option>
            <option ng-repeat="Company in pCompanyList" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="form-group margin-r-20" style="min-width:350px;">
          <label class="control-label bold" style="width:60px;">{{'10022' | i18n}}</label>
          <input type="text" class="form-control" style="width:280px;" placeholder="{{'10023' | i18n}}"
            ng-model="SearchParams.Filtration" />
        </div>
        <div class="form-group" style="min-width:350px;">
          <button type="submit" style="width:280px;margin-left:62px;" class="btn blue-sharp"
            ng-click="Search(1)">{{'10024' | i18n}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- table -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered margin-b-50">
  <div class="portlet-title">
    <div class="caption">
      {{'10025' | i18n}}
    </div>
    <div class="actions">
      <div class="btn-group btn-group-devided" data-toggle="buttons">
        <a ng-click="downloadExcel(serInfo.Passport,'1')" class="btn btn-circle grey-salsa">
          <i class="fa fa-file-o"></i>{{'10026' | i18n}}</a>
      </div>
    </div>
  </div>
  <div class="portlet-body no-space">
    <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
      <thead>
        <tr>
          <th>{{'10020' | i18n}}</th>
          <th>{{'10021' | i18n}}</th>
          <th>{{'10027' | i18n}}</th>
          <th>{{'10028' | i18n}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in CausePrioritieList">
          <td>
            {{item.CompanyName}}
          </td>
          <td>
            {{item.MaintainerNickName}}
          </td>
          <td>{{item.EquipmentSubTypeName}}</td>
          <td>
            <button type="button" class="btn btn-xs green-jungle" ng-disabled="CsvButtonDisabled==true"
              ng-click="getCsv(item)">{{'00020'|i18n}}
              <i class="fa fa-refresh fa-spin fa-lg fa-fw" ng-show="ActiveItem==item"></i>
            </button>
            <button type="button" class="btn btn-xs yellow-casablanca" ng-disabled="CsvButtonDisabled==true"
              ng-click="importCsv(item)">{{'00021'|i18n}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="portlet-footer bg-grey-cararra">
    <center ng-show="PaginationisShow">
      <pagination total-items="totalItems" ng-click="pageChanged(currentPage)" ng-model="currentPage" max-size="5"
        class="m-t-none m-b" boundary-links="true" rotate="false" items-per-page="20" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </center>
  </div>
</div>

<!-- button -->
<a href="#/cause/add" target="_blank" id="btn-actions"
  class="font-white bg-blue rounded btn-fixed-lg">
  <i class="fa fa-plus fa-2x"></i>
</a>

<!-- <div class="page-footer action-bar">
        <div class="page-footer-inner center">
            <form class="form-inline">
                <div class="btn-group">
                    <button href="javascript:;" ng-disabled="CsvButtonDisabled==true" ng-click="importCsv()" class="btn btn-lg green">导入</button>
                </div>
            </form>
        </div>
    </div> -->


<div import-csv></div>
