<!-- 零配件 -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
  <!-- <div class="portlet-title">
        <div class="caption">
            [ {{DeptID}} ] {{DeptName}}
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-icon-only">
                <i class="fa fa-sitemap" ng-click="open()"></i>
            </a>
        </div>
    </div> -->
  <store-components-list-table ng-if="userInfo.SigninType==2"></store-components-list-table>
  <provider-components-list-table ng-if="userInfo.SigninType==3"></provider-components-list-table>
</div>
