<!-- 设备列表 -->
<div class="note no-border bg-grey-cararra ">
  <form class="form-inline">
    <div class="row margin-b-10">
      <div class="col-md-3">
        <div class="form-group" style="width:100%">
          <div class="col-md-12">
            <input class="form-control" ng-model="SearchParams.EquipmentCodeOrName" placeholder="{{'10029' | i18n}}" style="width:100%" type="text"/>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10030' | i18n}}
          </label>
          {{SearchParams.Unit}}
          <div class="btn-group">
            <a class="btn btn-default btn-icon-only" href="javascript:;" ng-click="openCompanyModal()">
              <i class="fa fa-sitemap">
              </i>
            </a>
          </div>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10031' | i18n}}
          </label>
          <select name="Brand" ng-model="SearchParams.Brand" style="width:140px;">
            <option value="">
              {{'10032' | i18n}}
            </option>
            <option ng-repeat="item in BrandList">
              {{item.Brand}}
            </option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10033' | i18n}}
          </label>
          <select name="Status" ng-model="SearchParams.Status" style="width:140px;">
            <option value="">
            </option>
            <option value="-2">
              {{'10034' | i18n}}
            </option>
            <option value="0">
              {{'00022' | i18n}}
            </option>
            <option value="1">
              {{'00023' | i18n}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group " style="width:100%">
          <div class="col-md-12">
            <button class="btn blue-sharp" ng-click="Search(1)" style="width:100%" type="submit">
              {{'10024' | i18n}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10035' | i18n}}
          </label>
          <select name="TypeClass" ng-model="SearchParams.EquipmentTypeClass" style="width:140px;">
            <option value="">
            </option>
            <option value="-2">
              {{'10036' | i18n}}
            </option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" value="{{item.EquipmentClass}}">
              {{item.EquipmentClassName}}
            </option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10037' | i18n}}
          </label>
          <select name="TypeName" ng-model="SearchParams.EquipmentTypeName" style="width:140px;">
            <option value="">
              {{'10038' | i18n}}
            </option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentTypeName |unique:'EquipmentTypeName'" value="{{item.EquipmentTypeName}}">
              {{item.EquipmentTypeName}}
            </option>
          </select>
        </div>
        <div class="form-group margin-r-10" style="min-width:210px;">
          <label class="control-label bold" style="width:60px;">
            {{'10027' | i18n}}
          </label>
          <select name="SubTypeName" ng-model="SearchParams.EquipmentSubTypeName" style="width:140px;">
            <option value="">
              {{'10039' | i18n}}
            </option>
            <option ng-repeat="item in EquipmentTypeList.EquipmentSubTypeName |unique:'EquipmentSubTypeName'" value="{{item.EquipmentSubTypeName}}">
              {{item.EquipmentSubTypeName}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- table -->
<equipment-list-table>
</equipment-list-table>
<!-- button -->
<a class="font-white bg-blue rounded btn-fixed-lg" href="#/equipment/add" id="btn-actions" style="right:15px;bottom:90px;" target="_blank" ng-if="userInfo.SigninType!=3">
  <i class="fa fa-plus fa-2x">
  </i>
</a>
<!-- footer -->
<div class="page-footer action-bar bg-light" ng-if="userInfo.SigninType!=3">
  <div class="page-footer-inner center">
    <form class="form-inline">
      <div class="btn-group">
        <a class="btn btn-lg green" href="javascript:;" ng-click="importCsv()">
          {{'00021' | i18n}}
        </a>
      </div>
      <div class="btn-group">
        <button class="btn btn-lg green" ng-click="getCsv()" ng-disabled="CsvButtonDisabled==true">
          {{'00020' | i18n}}
          <i class="fa fa-refresh fa-spin fa-lg fa-fw" ng-show="CsvButtonDisabled">
          </i>
        </button>
      </div>
    </form>
  </div>
</div>
<div nt-org-picker="">
</div>
<store-company-modal>
</store-company-modal>
<div import-csv="">
</div>
