<!-- 批量新增 -->
<div class="note no-border bg-grey-cararra ng-scope">
  <button type="submit" class="btn green btn" ng-click="open()">
    {{'10040'|i18n}}
    <i class="fa fa-plus margin-l-5"></i>
  </button>
</div>
<!-- 載入批量新增品項modal -->
<div batch-add-equipment></div>
