<!-- 组织人员列表 -->
<div class="panel panel-default full-height-content-scrollable margin-b-5" ng-cloak="">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <small class="font-grey-salsa">
          {{UnitPath}}
        </small>
        <div class="h3 m-t-xs m-b-xs">
          <span ng-if="userInfo.SigninType==2">[ {{DeptID}} ]</span> {{DeptInfoList.Unit}}
          <button class="btn btn-default" ng-click="open()" type="button">
            <i class="fa fa-sitemap">
            </i>
          </button>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 margin-t-10 margin-b-5">
            <i class="fa fa-phone text-gray margin-r-5">
            </i>
            {{DeptInfoList.IPhoneNos}}
          </div>
          <div class="col-md-12 col-lg-12 margin-b-5 ellipsis">
            <i class="fa fa-envelope text-gray margin-r-5">
            </i>
            {{DeptInfoList.Email}}
          </div>
          <div class="col-md-12 col-lg-12 margin-b-5">
            <i class="fa fa-map-pin text-gray margin-r-5">
            </i>
            {{DeptInfoList.Address.Province}}{{DeptInfoList.Address.City}}{{DeptInfoList.Address.District}}{{DeptInfoList.Address.StreetAddress}}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="col-md-8 col-lg-8">
          <p>
            {{'10062'|i18n}}
            <label class="font-yellow">
              {{DeptInfoList.Opend | limitTo:10}}
            </label>
          </p>
          <p>
            {{'10063'|i18n}}
            <label class="font-xxs font-yellow">
              {{DeptInfoList.Hours}}
            </label>
          </p>
          <p>
            {{'10064'|i18n}}
            <label class="font-xxs font-yellow">
              {{DeptInfoList.NurseName}} {{DeptInfoList.NursePhone}}
            </label>
          </p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="thumbnail bg-grey">
            <img ng-src="{{ThumbnailForUnit.Avator}}">
            </img>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="panel-body"> -->
  <!-- </div> -->
</div>
<div class="row">
  <div class="col-lg-3 margin-t-10" ng-repeat="Items in MemberList">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="clearfix">
          <a class="pull-left thumb-md avatar b-3x m-r" href="">
            <img ng-src="{{Items.Avator}}">
            </img>
          </a>
          <div class="clear">
            <div class="h4 m-t-xs m-b-xs"><nobr>
              {{Items.UserId}}
              <!-- <i class="fa fa-circle text-success pull-right text-xs m-t-sm">
              </i> -->
            </div></nobr><nobr>
            <small class="text-muted" style="overflow-x: hidden;">
              {{ Items.UserName }} {{Items.Title}}
            </small></nobr>
          </div>
        </div>
      </div>
      <div class="list-group no-radius alt" style="height: 80px;overflow: hidden;">
        <a class="list-group-item list-group-item-text" href="" ng-repeat="InfoItem in Items.Contacts | orderBy:'Type'" style="overflow: hidden;" ng-hide="InfoItem.Type==2">
          <div class="row">
            <div class="col-md-1 no-padding p-l-5">
              <i class="fa fa-phone" ng-show="InfoItem.Type==1">
              </i>
              <i class="fa fa-envelope" ng-show="InfoItem.Type==0">
              </i>
            </div>
            <div class="col-md-11 no-padding"  style="overflow: hidden;">
          {{InfoItem.Info}}</div>
        </div>
        </a>
      </div>
      <div class="panel-footer no-padding">
        <div class="col">
          <button class="btn btn-default btn-lg btn-block" ng-click="userModify(Items.UserId)">
            <i class="fa fa-edit">
            </i>
            {{'10065'|i18n}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- button -->
<a class="font-white bg-blue rounded btn-fixed-lg m-b-20" href="javascript:;" id="btn-actions" ng-click="userAdd()">
  <i class="fa fa-plus fa-2x">
  </i>
</a>
<!-- footer -->
<div class="page-footer action-bar bg-light">
  <div class="page-footer-inner center">
    <form class="form-inline">
      <div class="btn-group">
        <a class="btn btn-lg green" href="javascript:;" ng-click="importCsv()">
          {{'00021'|i18n}}
        </a>
      </div>
      <div class="btn-group">
        <button class="btn btn-lg green" ng-click="getCsv()" ng-disabled="CsvButtonDisabled==true">
          {{'00020'|i18n}}
          <i class="fa fa-refresh fa-spin fa-lg fa-fw" ng-show="CsvButtonDisabled">
          </i>
        </button>
      </div>
    </form>
  </div>
</div>
<div import-csv="">
</div>
<organize-user-modal>
</organize-user-modal>
<div nt-org-picker="">
</div>
