<!-- 组织部门列表 -->
<div class="note no-border bg-grey-cararra p-l-0">
  <form class="form-inline">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" style="width:310px;">
          <input class="form-control" ng-model="SearchParams.Filtration" placeholder="{{'10041'|i18n}}" style="width:100%" type="text"/>
        </div>
        <div class="form-group " style="width:210px;">
          <button class="btn blue-sharp" ng-click="Search(1)" style="width:100%" type="submit">
            {{'10024'|i18n}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- table -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered margin-b-50">
  <div class="portlet-title">
    <div class="caption">
      {{'10042'|i18n}}
    </div>
    <div class="actions">
      <div class="btn-group btn-group-devided" data-toggle="buttons">
        <a class="btn btn-circle grey-salsa" ng-click="downloadExcel(userInfo.Passport,'2')">
          <i class="fa fa-file-o">
          </i>
          {{'10026'|i18n}}
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body no-space">
    <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
      <thead>
        <tr>
          <th ng-if="userInfo.apiType=='s'">
            {{'10043'|i18n}}
          </th>
          <th ng-if="userInfo.apiType=='s'">
            {{'10044'|i18n}}
          </th>
          <th>
            <span ng-if="userInfo.apiType=='s'">{{'10045'|i18n}}</span>
            <span ng-if="userInfo.apiType=='p'">{{'10045'|i18n}}</span>
          </th>
          <th ng-if="userInfo.apiType=='s'">            
            {{'10046'|i18n}}
          </th>
          <th ng-if="userInfo.apiType=='p'">
            {{'10047'|i18n}}
          </th>
          <th ng-if="userInfo.apiType=='s'">
            {{'10048'|i18n}}
          </th>
          <th ng-if="userInfo.apiType=='s'">
            {{'10049'|i18n}}
          </th>
          <th ng-if="userInfo.apiType=='p'">
            {{'10050'|i18n}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="openModify(item.UnitId)" ng-repeat="item in UnitList" style="cursor: pointer;">
          <td ng-if="userInfo.apiType=='s'">
            {{item.Level2}}
          </td>
          <td ng-if="userInfo.apiType=='s'">
            {{item.Level3}}
          </td>
          <td>
            <small>
              {{item.CompanyNickName}}
            </small>
            <br/>
            <!-- <a href="#/organize/unit/modify/{{item.UnitId}}" target="_blank"> -->
            {{item.Unit}}
            <!-- </a> -->
          </td>
          <td ng-if="userInfo.apiType=='s'">
            {{item.UnitId}}
          </td>
          <td ng-if="userInfo.apiType=='p'">
            {{item.UnitPhone}}
          </td>
          <td  ng-if="userInfo.apiType=='s'">
            <span ng-show="item.ServiceType==0">
              {{'10051'|i18n}}
            </span>
            <span ng-show="item.ServiceType==1">
              {{'10052'|i18n}}
            </span>
            <span ng-show="item.ServiceType==2">
              {{'10053'|i18n}}
            </span>
            <span ng-show="item.ServiceType==3">
              {{'10054'|i18n}}
            </span>
          </td>
          <td ng-if="userInfo.apiType=='s'">
            <span ng-show="item.LifeCycle==0">
              {{'10055'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==1">
              {{'10056'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==2">
              {{'10057'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==3">
              {{'10058'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==4">
              {{'10059'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==9">
              {{'10060'|i18n}}
            </span>
            <span ng-show="item.LifeCycle==99">
              {{'10061'|i18n}}
            </span>
          </td>
          <td ng-if="userInfo.apiType=='p'">{{item.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="portlet-footer bg-grey-cararra">
    <center ng-show="PaginationisShow">
      <pagination boundary-links="true" class="m-t-none m-b" first-text="«" items-per-page="20" last-text="»" max-size="5" next-text="›" ng-click="pageChanged(currentPage)" ng-model="currentPage" previous-text="‹" rotate="false" total-items="totalItems">
      </pagination>
    </center>
  </div>
</div>
<!-- button -->
<a class="font-white bg-blue rounded btn-fixed-lg m-b-50" href="javascript:;"  ng-click="openAdd()" id="btn-actions" target="_blank">
  <i class="fa fa-plus fa-2x">
  </i>
</a>
<!-- footer -->
<div class="page-footer action-bar bg-light">
  <div class="page-footer-inner center">
    <form class="form-inline">
      <div class="btn-group">
        <a class="btn btn-lg green" href="javascript:;" ng-click="importCsv()">
          {{'00021'|i18n}}
        </a>
      </div>
      <div class="btn-group">
        <button class="btn btn-lg green" ng-click="getCsv()" ng-disabled="CsvButtonDisabled==true">
          {{'00020'|i18n}}
          <i class="fa fa-refresh fa-spin fa-lg fa-fw" ng-show="CsvButtonDisabled">
          </i>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- <div nt-org-picker></div> -->
<import-csv>
</import-csv>
