<!-- 管理企业列表 -->
<div class="note no-border bg-grey-cararra p-l-0">
  <form class="form-inline">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" style="width:310px;">
          <input class="form-control" ng-model="SearchParams.Filtration" placeholder="{{'10066'|i18n}}" style="width:100%" type="text"/>
        </div>
        <div class="form-group " style="width:210px;">
          <button class="btn blue-sharp" ng-click="getContractedList(1)" style="width:100%" type="submit">
            {{'10024'|i18n}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="panel panel-default">
      <div class="panel-heading">
<!-- <div class="bg-light lter b-b wrapper-md"> -->
  <div class="row">
    <div class="col-lg-8">
      <h1 class="m-n font-thin h3">
        {{'10067'|i18n}}
      </h1>
    </div>    
  </div>
</div>
<div class="panel-doby wrapper">
  <div ng-if="userInfo.SigninType==2" related-company-table-list-store="">
  </div>
  <div ng-if="userInfo.SigninType==3" related-company-table-list-provider="">
  </div>
</div>
<div class="clearfix padding-20">
</div>
<div class="portlet-footer bg-grey-cararra">
  <center ng-show="Page.PaginationisShow">
    <pagination boundary-links="true" class="m-t-none m-b" first-text="«" items-per-page="20" last-text="»" max-size="5" next-text="›" ng-click="pageChanged(Page.currentPage)" ng-model="Page.currentPage" previous-text="‹" rotate="false" total-items="Page.totalItems">
    </pagination>
  </center>
</div>
</div>
<!-- add button href="#/related/add"-->
<a class="font-white bg-blue rounded btn-fixed-lg" href="javascript:;" id="btn-actions" ng-click="relatedAdd()" style="right:15px;bottom:70px;" target="_blank">
  <i class="fa fa-plus fa-2x">
  </i>
</a>
<related-company-modify>
</related-company-modify>
