<!-- 拖曳style -->
<style>
  [ng-drag].dragging {
    opacity: 0.5;
  }

  [ng-drop].drag-enter {
    border: solid 2px blue;
  }

</style>

<!-- 大中小类 -->
<div style="min-width: 676px">
  <div class="bg-white-dark d-flex justify-content-between p-25 m-b-25">
    <!-- 大類 -->
    <div class="form-group w-full">
      <div class="btn-group">
        <label ng-repeat="item in EquipmentTypeList.EquipmentTypeClass" btn-radio="{{item.EquipmentClass}}"
          ng-click="setEquipmentTypeClass(item)" ng-model="equipment.EquipmentTypeClass"
          class="btn btn-default">{{item.EquipmentClassName}}</label>
      </div>
    </div>
    <!-- 狀態選擇 -->
    <select class="custom-select border-0" style="height:30px" ng-model="select"
      ng-change="GetEquipmentType('getStatus')" ng-options="status.name for status in status">
      <option value="" disabled>--- {{'10068' | i18n}} ---</option>
    </select>
  </div>
  <!-- 中類清單 -->
  <div class="container-fluid border p-25" style="min-height:450px;">
    <div class="d-flex justify-content-between m-b-5">
      <!-- 顯示此表單今天是否已修改過 -->
      <p ng-show="isModify" class="text-blue m-0" style="height:26px"><i class="fa fa-info-circle m-r-3"
          aria-hidden="true"></i>{{'10069' | i18n}}</p>
      <!-- 權限 -->
      <div>
        <div ng-show="Permission.Status==1">
          <div class="text-white bg-green-dark p-x-6 p-y-3"><i class="fa fa-unlock p-3"
              aria-hidden="true"></i>{{'00024' | i18n}}{{LockTimeForShow}},{{'00025' | i18n}}</div>
        </div>
        <div ng-show="Permission.Status==2">
          <div class="text-white bg-red-dark p-x-6 p-y-3"><i class="fa fa-lock p-3"
              aria-hidden="true"></i>{{Permission.UserName}}{{'00026' | i18n}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div ng-show="equipment.Status!=0">
          <a class="list-group-item list-group-item-action text-center" href="#" data-toggle="tab"
            ng-click="addEquipmentType()">
            {{'10070' | i18n}} </a>
        </div>
        <ul class="list-group" style="list-style: none;max-height: 400px;overflow-y: scroll">
          <li ng-repeat="item in EquipmentTypeList.EquipmentType"
            ng-show="item.EquipmentClass == equipment.EquipmentTypeClass && !item.hide"
            ng-click="setEquipmentType(item)" ng-class="{'line-through':item.Status == 0}" ng-drop="true"
            ng-drop-success="onDropComplete($data,item)">
            <p class="btn-white list-group-item list-group-item-action m-0"
              ng-class="{'active':item.EquipmentTypeId == equipment.EquipmentTypeId && item.Status == equipment.EquipmentTypeStatus}"
              style="width:100%;cursor: pointer">
              {{item.EquipmentTypeName}}
            </p>
          </li>
        </ul>
      </div>

      <div class="col-md-9 col-lg-9" ng-show="equipment.EquipmentTypeId">
        <!-- 中類編輯區 -->
        <div class="d-flex justify-content-end" style="font-size:25px">
          <a href="#" class="m-r-25" title="{{'00005' | i18n}}" ng-show="equipment.EquipmentTypeStatus != 0"
            ng-click="addEquipmentSubType()"><i class="fa fa-plus text-blue" aria-hidden="true"></i></a>
          <a href="#" class="m-r-25" title="{{'00008' | i18n}}" ng-show="equipment.EquipmentTypeStatus != 0"
            ng-click="newEquipmentTypeName()"><i class="fa fa-pencil text-gray" aria-hidden="true"></i></a>
          <a href="#" class="m-r-25" title="{{'00012' | i18n}}" ng-show="equipment.EquipmentTypeStatus != 0"
            ng-click="EquipmentTypeMove()"><i class="fa fa-share text-green" aria-hidden="true"></i></a>
          <a href="#" class="m-r-25" title="{{'00022' | i18n}}" ng-show="equipment.EquipmentTypeStatus != 0"
            ng-click="EquipmentTypeStop()"><i class="fa fa-ban text-red" aria-hidden="true"></i></a>
          <a href="#" class="m-r-25" title="{{'00023' | i18n}}" ng-show="equipment.EquipmentTypeStatus == 0"
            ng-click="EquipmentTypeStart()"><i class="fa fa-undo text-blue" aria-hidden="true"></i></a>
          <a href="#" class="m-r-25" title="{{'00007' | i18n}}" ng-show="equipment.EquipmentTypeStatus == 0"
            ng-click="EquipmentTypeDel()"><i class="fa fa-times text-purple" aria-hidden="true"></i></a>
        </div>
        <div style="min-height:260px">
          <table class="table">
            <thead>
              <tr>
                <th width="80px"></th>
                <th width="160px">{{'10027' | i18n}}</th>
                <th width="120px">{{'10050' | i18n}}</th>
                <th>{{'00008' | i18n}}</th>
              </tr>
            </thead>
            <!-- 小類清單 -->
            <tbody>
              <!-- EquipmentSubTypePage是從小類清單塞選出來之陣列 用於分頁 -->
              <tr ng-repeat="item in EquipmentSubTypePage" class="bg-white-hover" ng-drag="true" ng-drag-data="item"
                style="cursor:all-scroll">
                <td width="80px"></td>
                <td width="160px">
                  <p class="m-0">{{item.EquipmentSubTypeName}}</p>
                </td>
                <td width="120px" ng-show="item.Status!=0"><i class="fa fa-check text-blue" aria-hidden="true"></i></td>
                <td width="120px" ng-show="item.Status==0"><i class="fa fa-ban text-gray" aria-hidden="true"></i></td>
                <td style="font-size:20px">
                  <a href="#" class="m-r-25" title="{{'00008' | i18n}}" ng-show="item.Status!=0"
                    ng-click="newEquipmentSubTypeName(item)"><i class="fa fa-pencil text-gray"
                      aria-hidden="true"></i></a>
                  <a href="#" class="m-r-25" title="{{'00012' | i18n}}" ng-show="item.Status!=0"
                    ng-click="EquipmentSubTypeMove(item)"><i class="fa fa-share text-green" aria-hidden="true"></i></a>
                  <a href="#" class="m-r-25" title="{{'00022' | i18n}}" ng-show="item.Status!=0"
                    ng-click="EquipmentSubTypeStop(item)"><i class="fa fa-ban text-red" aria-hidden="true"></i></a>
                  <a href="#" class="m-r-25" title="{{'00023' | i18n}}" ng-show="item.Status==0"
                    ng-click="EquipmentSubTypeStart(item)"><i class="fa fa-undo text-blue" aria-hidden="true"></i></a>
                  <a href="#" class="m-r-25" title="{{'00007' | i18n}}" ng-show="item.Status==0" ng-click="EquipmentSubTypeDel(item)"><i
                      class="fa fa-times text-purple" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 分頁表 -->
        <center>
          <ul class="pagination m-t-20">
            <li>
              <a ng-click="Previous()">
                <span>{{'00031' | i18n}}</span>
              </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
              <a ng-click="selectPage(page)">{{ page }}</a>
            </li>
            <li>
              <a ng-click="Next()">
                <span>{{'00032' | i18n}}</span>
              </a>
            </li>
          </ul>
        </center>
      </div>
    </div>
  </div>
</div>
<!-- 中小類各功能按鈕 modal -->
<div sub-class-modal></div>

<!-- 獲取權限modal -->
<div open-for-lock-modal></div>
