<div class="modal-header">
    <div class="row">
        <div class="col-md-10" style="display: flex;flex-flow: row nowrap;justify-content: flex-start;align-items: center;">
            <h4 class="modal-title">{{Data.WarehouseName}} - {{Data.ComponentName}}</h4>
        </div>
    </div>
</div>
<!--body-->
<div class="modal-body modal-scrollbar nt-modal-body" style="overflow: auto; width: auto;padding:0px">
    <table class="table table-bordered table-hover nt-table no-margin">
        <!-- 標頭 -->
        <thead class="nt-thead">
            <tr class="nt-thead-bg" style="background-color: #4db6ac;color: white;">
                <th class="font-xxs text-center" style="width:40px;">#</th>
                <th class="font-xxs text-center" style="width:250px;">识别码</th>
                <th class="font-xxs text-center" style="width:200px;">新增时间</th>
                <th class="font-xxs text-center" style="width:200px;">货主保固规则</th>
            </tr>
        </thead>
        <!-- 载入画面 -->
        <tbody class="nt-tbody nt-tbody-loading" ng-show="IsLoading">
            <tr>
                <td style="padding:0;">
                    <div class="nt-loading" style="background:#e0f2f1;">
                        <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <!-- 內容 -->
        <tbody class="nt-tbody" ng-show="!IsLoading">
            <tr class="nt-tr text-center" ng-repeat="item in List">
                <td class="no-padding" style="width:40px;">
                    <div class="nt-td-middle NT_font_md">
                        {{((currentPage-1) * ItemsPerPage) + $index + 1}}
                    </div>
                </td>
                <td class="no-padding" style="width:250px;">
                    <div class="nt-td-middle NT_font_md">
                        {{item.IdentificationCode}}
                    </div>
                </td>
                <td class="no-padding" style="width:200px;">
                    <div class="nt-td-middle NT_font_md">
                        {{item.InsertTime}}
                    </div>
                </td>
                <td class="no-padding" style="width:200px;">
                    <div class="nt-td-middle NT_font_md">
                        {{item.SupplierRule}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--footer-->
<div class="modal-footer" style="padding:10px 15px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 nt-flex-middle">
            <uib-pagination class="no-margin nt-pagination-green" boundary-links="true" total-items="totalItems" ng-model="currentPage"
                max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(currentPage)" class="pagination-sm" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
        <div class="col-md-1 nt-flex-middle">
            <button class="btn green" ng-click="Close()">关闭</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var VHeight = $(window).height();
        $(".nt-tbody").css({
            height: (VHeight - 220) + 'px'
        });
    });
</script>