<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            编辑门店人员信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="EditForm">
            <div class="form-body padding-l-60">
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员工号
                        </label>
                        <div class="col-md-3">
                            <span style="line-height:36px;">{{Data.UserId}}</span>
                        </div>
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>帐号类型
                        </label>
                        <div class="col-md-3">
                            <select class="w-200" name="Level" ng-model="Data.Level" required>
                                <option value=""></option>
                                <option value="0">一般帐号</option>
                                <option value="1">管理帐号</option>
                            </select>
                            <div ng-messages="EditForm.Level.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">帐号类型必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group margin-b-0">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>人员姓名
                        </label>
                        <div class="col-md-3">
                            <input type="text" name="name" ng-model="Data.UserName" class="form-control w-200" placeholder="请输入人员姓名" required>
                            <div ng-messages="EditForm.name.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">人员姓名必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">启用/停用</label>
                        <div class="col-md-3">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="Status" value="0" ng-model="Data.Status" required>停用
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="Status" value="1" ng-model="Data.Status" required>啟用
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员电话</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" placeholder="请输入人员电话" ng-model="Data.Phone">
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员邮箱</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control w-200" placeholder="请输入人员邮箱" ng-model="Data.Email">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>所在客户
                        </label>
                        <div class="col-md-3">
                            <select style="min-width:200px;" name="Company" ng-model="Data.CompanyId" required>
                                <option></option>
                                <option ng-repeat="Company in CompanyList" value="{{Company.CompanyId}}">{{Company.CompanyName}}</option>
                            </select>
                            <div ng-messages="EditForm.Company.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">所在客户必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 bold  control-label w-100" style="text-align:left;">人员职称</label>
                        <div class="col-md-3">
                            <select class="w-200" name="TitleList" ng-model="Data.TitleId">
                                <option></option>
                                <option ng-repeat="item in TitleList" value="{{item.TitleId}}">{{item.Title}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5">
                    <div class="form-group" ng-show="Data.Level==0">
                        <label class="col-md-1 bold control-label w-100" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>所属门店
                        </label>
                        <div class="col-md-3 padding-5">
                            <span style="padding-left:15px;" ng-show="Data.Unit!==''">{{Data.Nickname}} -{{Data.Unit}} </span>
                            <input type="text" style="border-style:none" name="Unit" ng-hide="true" ng-model="Data.UnitId" readonly required>
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                    <i class="fa fa-sitemap"></i>
                                </a>
                            </div>
                            <div ng-messages="EditForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">
                                    所属门店必填
                                </span>
                            </div>
                        </div>
                        <label class="col-md-2 bold  control-label" style="text-align:left;width:140px;">是否为店长/经理</label>
                        <div class="col-md-3">
                            <div class="mt-checkbox-inline">
                                <label class="mt-checkbox">
                                    <input type="checkbox" ng-model="Data.IsManager" ng-true-value="1" ng-false-value="0"> 店长
                                    <span></span>
                                </label>
                                <label class="mt-checkbox">
                                    <input type="checkbox" ng-model="Data.IsAssistantManager" ng-true-value="1" ng-false-value="0"> 经理
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5" ng-show="Data.Level==1">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="text-align:left;min-width:120px;">
                            <span class="font-red-thunderbird">*</span>所属营运部
                        </label>
                        <div class="col-md-3">
                            <span ng-show="Data.Unit!==''">{{Data.Nickname}} - {{Data.Unit}} </span>
                            <input type="text" style="border-style:none" name="Unit" ng-hide="true" ng-model="Data.UnitId" readonly required>
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setCompany()">
                                    <i class="fa fa-sitemap"></i>
                                </a>
                            </div>
                            <div ng-messages="EditForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">
                                    所属营运部必填
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5" ng-show="Data.Level==1">
                    <div class="form-group">
                        <label class="col-md-1 bold control-label" style="text-align:left;min-width:120px;">
                            管理门店
                        </label>
                        <div class="col-md-3">
                            <span style="display:inline-block;width:150px;">已选取{{Data.Accessories.length}}间</span>
                            <div class="btn-group">
                                <a class="btn btn-default btn-icon-only" ng-click="setUnits()">
                                    <i class="fa fa-sitemap"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5" ng-show="Data.Level==1">
                    <div class="form-group">
                        <div class="col-md-2 padding-5" ng-repeat="item in Data.AccessoriesStr track by $index">
                            <span class="label label-info">{{item}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || EditForm.$valid ==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
            </div>
        </form>
    </div>
</div>

<div nt-org-picker></div>