<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered" style="max-width:1250px;margin:0 auto;">
    <div class="portlet-title">
        <div class="caption">
            编辑门店信息
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" name="EditForm">
            <div class="form-body">
                <h4 class="bold">基本信息</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>公司</label>
                        <div class="col-md-3 ">
                            <select style="min-width:200px;" name="Company" ng-model="Data.CompanyId" required>
                                <option></option>
                                <option ng-repeat="item in CompanyList" value="{{item.CompanyId}}">{{item.Nickname}}</option>
                            </select>
                            <div ng-messages="EditForm.Company.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">公司必填</span>
                            </div>
                        </div>
                        <label class="col-md-1 control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>大区</label>
                        <div class="col-md-3 ">
                            <select style="min-width:200px;" name="Level2" ng-model="Data.Level2Id" required>
                                <option></option>
                                <option ng-repeat="item in AreaList|filter:AreaFilter" ng-hide="item.Status==0" value="{{item.UnitId}}">{{item.Unit}}</option>
                            </select>
                            <div ng-messages="EditForm.Level2.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">大区必填</span>
                            </div>
                        </div>
                        <label class="col-md-1   control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>营运部</label>
                        <div class="col-md-3 ">
                            <select style="min-width:200px;" name="Level3" ng-model="Data.Level3Id" required>
                                <option></option>
                                <option ng-repeat="item in ProvinceList|filter:ProvinceFilter" ng-hide="item.Status==0" value="{{item.UnitId}}">{{item.Unit}}</option>
                            </select>
                            <div ng-messages="EditForm.Level3.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">营运部必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>门店编号</label>
                        <div class="col-md-3 ">
                            <span style="line-height:36px;">{{Data.UnitId}}</span>
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>门店名称</label>
                        <div class="col-md-3 ">
                            <input type="text" name="Unit" class="form-control w-200" ng-model="Data.Unit" placeholder="请输入门店名称" required>
                            <div ng-messages="EditForm.Unit.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">门店名称必填</span>
                            </div>
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>营运类型</label>
                        <div class="col-md-3 ">
                            <select class="w-200" name="ServiceType" required ng-model="Data.ServiceType">
                                <option></option>
                                <option value="0">非门店不需设定</option>
                                <option value="1">直营店</option>
                                <option value="2">加盟店</option>
                                <option value="3">委托经营店</option>
                            </select>
                            <div ng-messages="EditForm.ServiceType.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">营运类型必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>省
                        </label>
                        <div class="col-md-3 ">
                            <input type="text" name="Province" class="form-control w-200" ng-model="Data.Province" placeholder="请输入省" required>
                            <div ng-messages="EditForm.Province.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">省必填</span>
                            </div>
                        </div>
                        <label class="col-md-1   control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>市
                        </label>
                        <div class="col-md-3 ">
                            <input type="text" name="City" class="form-control w-200" ng-model="Data.City" placeholder="请输入市" required>
                            <div ng-messages="EditForm.City.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">市必填</span>
                            </div>
                        </div>
                        <label class="col-md-1   control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>区
                        </label>
                        <div class="col-md-3 ">
                            <input type="text" name="District" class="form-control w-200" ng-model="Data.District" placeholder="请输入区" required>
                            <div ng-messages="EditForm.District.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">区必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>地址
                        </label>
                        <div class="col-md-7">
                            <input type="text" name="StreetAddress" class="form-control" ng-model="Data.StreetAddress" placeholder="请输入地址" required>
                            <div ng-messages="EditForm.StreetAddress.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">地址必填</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">电话</label>
                        <div class="col-md-3 ">
                            <input type="text" class="form-control w-200" placeholder="请输入電話" ng-model="Data.Phones">
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;">邮件</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="请输入邮件" ng-model="Data.Emails">
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="bold">展闭店信息</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">开业时间</label>
                        <div class="col-md-3 ">
                            <input type="text" class="form-control w-200 date-picker" data-date-format="yyyy/mm/dd" value="Data.Open" ng-model="Data.Open" placeholder="请输入开店时间">
                        </div>
                        <label class="col-md-1   control-label" style="text-align:left;">展店工程</label>
                        <div class="col-md-2">
                            <span style="word-break: break-all;line-height:36px;">
                                {{ uploader.queue[0].file.name }}
                            </span>
                            <span style="word-break: break-all;line-height:36px;">
                                {{Data.FileName[0]}}
                            </span>
                        </div>
                        <div class="col-md-3 text-left">
                            <button class="btn btn-sm blue fileinput-button margin-r-5" ng-disabled="Data.FileName.length==1">
                                <i class="fa fa-plus"></i>
                                <input id="uploadInput" type="file" class="upload" nv-file-select="" uploader="uploader" ng-disabled="Data.FileName.length==1"
                                    style="width:100%;height:100%;" />
                            </button>
                            <button type="button" class="btn btn-sm blue red-thunderbird margin-r-5" ng-disabled="Data.FileName.length==1" ng-click="clean()">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button type="button" class="btn btn-sm blue grey-salsa margin-r-5" ng-disabled="Data.FileName.length==0" ng-click="donloadFile()">
                                <i class="fa fa-download"></i>
                            </button>
                            <button type="button" class="btn btn-sm  red-thunderbird  margin-r-5" ng-disabled="Data.FileName.length==0" ng-click="deleteFile()">
                                删除已上传文件
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="col-md-5"></div>
                    <div class="col-md-6">
                        <span class="help-block" style="font-size:12px;">档名格式需为 门店编号_XXXX ex:SH499_展店工程</span>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">
                            <span class="font-red-thunderbird">*</span>营运状态</label>
                        <div class="col-md-3 ">
                            <select class="w-200" name="LifeCycle" ng-model="Data.LifeCycle">
                                <option></option>
                                <option value="0">准备</option>
                                <option value="1">开店</option>
                                <option value="2">半营业</option>
                                <option value="3">整改</option>
                                <option value="4">半整改</option>
                                <option value="9">闭店</option>
                            </select>
                            <div ng-messages="EditForm.LifeCycle.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="required">营运状态必填</span>
                            </div>
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;">闭店时间</label>
                        <div class="col-md-3 ">
                            <input type="text" class="form-control w-200 date-picker" data-date-format="yyyy/mm/dd" ng-model="Data.Close" placeholder="请输入闭店时间">
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <h4 class="bold">门店人员</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label" style="text-align:left;">店长</label>
                        <div class="col-md-1">
                            <div class="input-icon" style="width:150px;" ng-click="selectUser('S','StoreLeader')">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.StoreLeader.UserName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <label class="col-md-1  control-label padding-l-0 padding-r-0" style="text-align:left;">值班经理
                        <i class="fa fa-user-plus" aria-hidden="true" ng-click="addManager()"></i>
                    </label>
                    <div class="col-md-11">
                        <div class="form-group text-left">
                            <div class="col-md-2 padding-b-10 padding-l-0" ng-repeat="item in Data.Manager">
                                <div class="input-icon" style="width:150px;display: inline-block;" ng-click="selectUser('M','Manager',$index)">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" placeholder="请选择人员" ng-model="item.UserName" readonly>
                                </div>
                                <i class="fa fa-times font-red-thunderbird" ng-click="deleteManager($index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="bold">管理人员</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">维修专员</label>
                        <div class="col-md-1">
                            <div class="input-icon" style="width:150px;" ng-click="selectUser('S','managerA')">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerA.UserName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">饮料副经理</label>
                        <div class="col-md-1">
                            <div class="input-icon" style="width:150px;" ng-click="selectUser('S','managerB')">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerB.UserName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1  control-label w-100" style="text-align:left;">食安副经理</label>
                        <div class="col-md-1">
                            <div class="input-icon" style="width:150px;" ng-click="selectUser('S','managerC')">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="请选择人员" ng-model="Data.managerC.UserName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <h4 class="bold">财务信息</h4>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:120px;">所属公司全称</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入所属公司名称" ng-model="Data.CostCenter.CompanyName">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:120px;">所属公司简称</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入所属公司名称" ng-model="Data.CostCenter.CompanyNickname">
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;min-width:120px;">所属公司代码</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入所属公司代码" name="CompanyCode" ng-model="Data.CostCenter.CompanyCode"
                                ng-maxlength="4">
                            <div ng-messages="EditForm.CompanyCode.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="maxlength">最大长度为4码</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:120px;">成本中心名称</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入成本中心名称" ng-model="Data.CostCenter.Name">
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;min-width:120px;">成本中心代码</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入成本中心代码" name="Code" ng-model="Data.CostCenter.Code" ng-maxlength="10">
                            <div ng-messages="EditForm.Code.$error">
                                <span class="help-block font-red" style="font-size:12px;" ng-message="maxlength">最大长度为10码</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:120px;">开票抬头</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入开票抬头" ng-model="Data.CostCenter.Invoice">
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;min-width:120px;">开票帐户</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入开票帐户" ng-model="Data.CostCenter.InvoiceAccount">
                        </div>
                    </div>
                </div>
                <div class="row margin-b-5 padding-l-30">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="text-align:left;min-width:120px;">开户银行</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入开户银行" ng-model="Data.CostCenter.InvoiceBank">
                        </div>
                        <label class="col-md-1  control-label" style="text-align:left;min-width:120px;">税号</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="请输入税号" ng-model="Data.CostCenter.TaxId">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
    </div>
</div>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true" ng-click="btnCancel()" class="btn btn-lg green">取消</button>
            </div>
            <div class="btn-group">
                <button type="" ng-disabled="buttonDisabled==true || EditForm.$valid ==false" ng-click="btnOk()" class="btn btn-lg green">确定</button>
            </div>
        </form>
    </div>
</div>

<!-- 选取人员 -->
<div nt-users-picker></div>