<!-- search-bar -->
<div class="note no-border bg-grey-cararra ">
    <form class="form-inline">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="width:310px;">
                    <div class="col-md-12">
                        <input type="text" class="form-control" style="width:100%" placeholder="门店编号或门店名称关键字查询" ng-model="SearchParams.Filtration" />
                    </div>
                </div>
                <div class="form-group " style="width:210px;">
                    <div class="col-md-12">
                        <button type="submit" style="width:100%" class="btn blue-sharp" ng-click="Search(1)">查找</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- table -->
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered margin-b-50">
    <div class="portlet-title">
        <div class="caption">
            门店列表
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <a ng-click="downloadExcel(userInfo.Passport,'2')" class="btn btn-circle grey-salsa">
                    <i class="fa fa-file-o"></i> 模版下载</a>
            </div>
        </div>
    </div>
    <div class="portlet-body no-space">
        <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
            <thead>
                <tr>
                    <th>客户</th>
                    <th>大区</th>
                    <th>营运部</th>
                    <th>门店名称</th>
                    <th>门店编号</th>
                    <th>营运类型</th>
                    <th>展闭店</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in UnitList">
                    <td>
                        {{item.CompanyNickName}}
                    </td>
                    <td>{{item.Level2}}</td>
                    <td>{{item.Level3}}</td>
                    <td>
                        <a href="#/data-maintenance/rd/store-unit/edit/{{item.UnitId}}" target="_blank">{{item.Unit}}</a>
                    </td>
                    <td>{{item.UnitId}}</td>
                    <td>
                        <span ng-show="item.ServiceType==0">非门店不需设定</span>
                        <span ng-show="item.ServiceType==1">直营店</span>
                        <span ng-show="item.ServiceType==2">加盟店</span>
                        <span ng-show="item.ServiceType==3">委托经营</span>
                    </td>
                    <td>
                        <span ng-show="item.LifeCycle==0">准备</span>
                        <span ng-show="item.LifeCycle==1">开店</span>
                        <span ng-show="item.LifeCycle==2">半营业</span>
                        <span ng-show="item.LifeCycle==3">整改</span>
                        <span ng-show="item.LifeCycle==4">半整改</span>
                        <span ng-show="item.LifeCycle==9">闭店</span>
                        <span ng-show="item.LifeCycle==99">变更营运方式</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="portlet-footer bg-grey-cararra">
        <center ng-show="PaginationisShow">
            <pagination total-items="totalItems" ng-click="pageChanged(currentPage)" ng-model="currentPage" max-size="5" class="m-t-none m-b"
                boundary-links="true" rotate="false" items-per-page="20" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;"></pagination>
        </center>
    </div>
</div>

<!-- button -->
<a href="#/data-maintenance/rd/store-unit/add" target="_blank" id="btn-actions" class="font-white bg-blue rounded btn-fixed-lg">
    <i class="fa fa-plus fa-2x"></i>
</a>

<!-- footer -->
<div class="page-footer action-bar">
    <div class="page-footer-inner center">
        <form class="form-inline">
            <div class="btn-group">
                <a href="javascript:;" ng-click="importCsv()" class="btn btn-lg green">导入</a>
            </div>
            <div class="btn-group">
                <button ng-disabled="CsvButtonDisabled==true" ng-click="getCsv()" class="btn btn-lg green">导出<i class="fa fa-refresh fa-spin fa-lg fa-fw" ng-show="CsvButtonDisabled"></i></button>
            </div>
        </form>
    </div>
</div>


<!-- <div nt-org-picker></div> -->
<div import-csv></div>