<accordion close-others="oneAtATime">
  <accordion-group is-open="item.open" ng-click="getEquipList(item.open,item)" ng-repeat="item in dataList">
    <accordion-heading>
      <i class="fa fa-link m-r-5"></i>
      {{item.CompanyName}} 
      <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
    </accordion-heading>
    <div class="panel hbox hbox-auto-xs no-border" style="min-height: 158px;">
      <div class="col wrapper-sm w-lg bg-light dk r-r">
        <div class="">
          <div class="m-t-sm">
            <div class="text-primary-dk font-thin h1">{{item.Liaison[0].Name}}</div>
          </div>
          <div class="m-t-sm">
            <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{item.Liaison[0].PhoneNo}}</h4>
          </div>
          <div class="m-t-sm">
            <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{item.CompanyName}}</h4>
          </div>
        </div>
      </div>
      <div class="col wrapper-sm">
        <!-- 编辑icon -->
        <!-- <i class="fa fa-pencil-square-o fa-lg text-info m-r-sm pull-right" ng-click="relatedModify()" style="cursor:pointer;"></i> -->
        <h4 class="font-thin m-t-none m-b-none text-primary-lt">负责设备</h4>
        <div class="row wrapper">
          <span class="badge bg-light text-2x padding-5 margin-5"
            ng-repeat="uItem in item.equips">{{uItem.Equipment}}</span></div>
        <span class="m-b block text-sm text-muted pull-right" ng-show="item.equips.length>0" style="cursor:pointer;" ng-click="openEquidsList(item.CompanyId,item.CompanyName)">查看所有设备清单</span>
      </div>
    </div>
  </accordion-group>
</accordion>
