<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="m-n font-thin h3">{{CompanyName}}</h1>
    </div>
  </div>
</div>
<div class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered margin-b-50">
    <div class="portlet-title">
        <div class="caption">
            负责设备列表
        </div>
    </div>
    <div class="portlet-body no-space">
        <table class="table table-hover dataTable no-space cell-padding-5" id="incoming-store">
            <thead>
                <tr>
                    <th>设备编号</th>
                    <th>设备名称</th>
                    <th>所属门店</th>
                    <th>预设厂商</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dataList">
                    <td>
                        {{item.EquipmentCode}}
                    </td>
                    <td>{{item.Equipment}}</td>
                    <td>{{item.Unit}}</td>
                    <td ng-show="item.UnitAllocation==0">否</td>
                    <td ng-show="item.UnitAllocation==1">是</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="portlet-footer bg-grey-cararra">
        <center ng-show="Page.PaginationisShow">
            <pagination total-items="Page.totalItems" ng-click="pageChanged(Page.currentPage)" ng-model="Page.currentPage" max-size="5"
                class="m-t-none m-b" boundary-links="true" rotate="false" items-per-page="20" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </center>
    </div>
</div>
