<div class="page-header-inner ">
    <div class="page-logo">
        <a href=""><img src="./images/logo-sm.png" alt="logo" class="logo-default logo-reset" /></a>
    </div>
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-extended dropdown-tasks" ng-show="false" id="header_task_bar2">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                    data-close-others="true">
                    <i class="icon-bell font-grey-mint"></i>
                    <span class="badge badge-danger"> {{Count}} </span>
                </a>
                <ul class="dropdown-menu extended tasks">
                    <li class="dropdown-submenu" ng-repeat="Item in NotifyLists">
                        <a href="" target="" ng-class="{'pos-left':Item.Count>0}">
                            {{Item.TypeName}}
                            <span class="badge badge-danger"> {{Item.Count}} </span>
                        </a>
                        <ul class="dropdown-menu scroller" style="height: 275px;padding-right:0px;"
                            data-handle-color="#637283">
                            <li class="dropdown-header bg-grey-cararra" style="width:100%"
                                ng-repeat-start="Item01 in Item.Depts" ng-show="Item.Count>0">
                                {{Item01.CompanyNickName}} </li>
                            <li ng-repeat-end>
                                <a href="../MAT/detail.html#/request-Notifys/{{Item.IndexOF}}/{{Item01.DeptId}}/{{Item.isQuote}}"
                                    target="_blank">
                                    {{Item01.Deptment}}<span class="badge badge-danger"> {{Item01.Count}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                    data-close-others="true">
                    <img alt="" class="img-circle" data-ng-src="{{UserAvator}}" />
                    <span class="username username-hide-on-mobile"> {{userInfo.FullName}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="#" ng-click="logout()">
                            <i class="icon-key"></i> {{'10001'| i18n}} </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
