<center>
	<button data-spinner-color="#333" data-style="slide-up" class="btn blue mt-ladda-btn ladda-button btn-outline btn-circle" ng-click="PageToPrevious()" ng-disabled="!showPrevious" type="button">
		<i class="fa fa-long-arrow-left"></i>
        <span class="ladda-label">Previous</span>
    	<span class="ladda-spinner"></span>
    </button>
	<button data-spinner-color="#333" data-style="slide-up" class="btn blue mt-ladda-btn ladda-button btn-outline btn-circle" type="button">
        <span class="ladda-label">{{currentPage}}</span>
    	<span class="ladda-spinner"></span>
    </button>
    <button data-spinner-color="#333" data-style="slide-up" class="btn blue mt-ladda-btn ladda-button btn-outline btn-circle" ng-click="PageToNext()" ng-disabled="!showNext" type="button">
        <span class="ladda-label">Next</span>
    	<span class="ladda-spinner"></span>
		<i class="fa fa-long-arrow-right"></i>
    </button>
</center>