<div class="page-sidebar collapse bg-grey">
    <ul class="page-sidebar-menu padding-t-0" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="220" style="padding-top: 20px">
        <li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <span class="title">{{'10002'| i18n}}</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item active">
                    <a href="#/organize/unit" class="nav-link ">
                        <span class="title">{{'10003'| i18n}}</span>
                    </a>
                </li><li class="nav-item active">
                    <a href="#/organize/user" class="nav-link ">
                        <span class="title">{{'10004'| i18n}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/related" class="nav-link ">
                        <span class="title">{{'10005'| i18n}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="title">{{'10006'| i18n}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#/equipment/list" class="nav-link ">
                        <span class="title">{{'10007'| i18n}}</span>
                        <span class="badge badge-danger"></span>
                    </a>
                </li>
                <li class="nav-item" ng-if="userInfo.SigninType!=3">
                    <a href="#/sub-class/modify" class="nav-link ">
                        <span class="title">{{'10008'| i18n}}</span>
                    </a>
                </li>
                <li class="nav-item" ng-if="false">
                    <a href="#/item/modify" class="nav-link">
                        <span class="title">{{'10009'| i18n}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/components" class="nav-link">
                        <span class="title">{{'10010'| i18n}}</span>
                    </a>
                </li>
                <li class="nav-item" ng-if="userInfo.SigninType!=3">
                    <a href="#/cause/list" class="nav-link ">
                        <span class="title">{{'10011'| i18n}}</span>
                        <span class="badge badge-danger"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
