<script id="RelatedCompanyAdd.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">{{TitleStr}}</h3>
  </div>
  <div class="panel-body">
    <form role="form" name="relatedForm">
      <div class="form-group">
        <label>企业名称</label>
        <input type="text" name="companyName" ng-model="Company.CompanyName" class="form-control w-300" placeholder="企业名称" required>
        <!-- <select class="form-control w-300" name="companyName" style="width:300px;" ng-model="Company.CompanyName">
            <option value="">企业名称</option>
            <option ng-repeat="item in companyList">{{item.CompanyName}}</option>
          </select> -->
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label>企业简称</label>
            <input type="text" ng-model="Company.NickName" ng-readonly="!isNewCompany" class="form-control" placeholder="企业简称">
          </div>
        </div>
        <!-- <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>企业编号</label>
            <input type="text" ng-model="Company.HrCode" ng-readonly="!isNewCompany" class="form-control" placeholder="企业编号">
          </div>
        </div> -->
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label>税号(统一编号)</label>
            <input type="text" ng-pattern="/^[0-9]*/i" ng-readonly="!isNewCompany" class="form-control" placeholder="税号">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>联系人</label>
        <input type="text" class="form-control w-200" ng-readonly="!isNewCompany" ng-model="Liaisons.Name" placeholder="联系人">
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>联系电话</label>
            <input type="text" ng-pattern="/[^\u4E00-\u9FA5]/i" ng-readonly="!isNewCompany" class="form-control"  ng-model="Liaisons.PhoneNo" placeholder="联系电话">
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="form-group">
            <label>联系邮箱</label>
            <input type="email" ng-model="Liaisons.Email" ng-readonly="!isNewCompany" class="form-control" placeholder="联系邮箱">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" ng-click="cancel()">取消</button>
    <button class="btn btn-info" ng-click="ok()" ng-disabled="relatedForm.$invalid">确定</button>
  </div>
</script>
