<!--门店成员资料维护-->
<script id="userModifyModal.html" type="text/ng-template">
  <div class="modal-header">
    <h3 class="modal-title">门店成员资料维护</h3>
</div>
<!--修改内容-->
<form id="AccountUpload" class="form-validation ng-pristine ng-invalid ng-invalid-required" novalidate name="myform">
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="col-lg-8 padding-rl-0">
                <div class="form-group" ng-show="isRead">
                    <input type="text" required="" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" ng-model="MemberInfo.UserId"
                        class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
                        ng-readonly="!isRead" placeholder="工号">
                </div>
                <div class="form-group" ng-show="isRead">
                    <input type="text" required="" ng-model="MemberInfo.UserName" placeholder="姓名"
                        class="form-control ng-pristine ng-invalid ng-invalid-required" required>
                </div>

            <div class="input-group m-b" ng-show="!isRead">
              <span class="input-group-addon">{{MemberInfo.UserId}}</span>
              <input type="text" ng-model="MemberInfo.UserName" placeholder="姓名" class="form-control">
            </div>
           <!--  <div class="row" ng-show="MemberInfo.IsManagerAccount==1">
                <div class="col-md-8"> -->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="所属部门" ng-model="MemberInfo.Unit" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="setCompany($event)">
                                    <i class="fa fa-sitemap"></i>
                                </button>
                            </span>
                        </div>
                    </div>
               <!--  </div>
            </div> -->
                <div class="form-group">
                    <select ng-model="MemberInfo.TitleId" class="form-control ng-animate ng-invalid ng-invalid-required" style=""
                        required=""
                        placeholder="职称" name="titleList">
                        <option value="">职称</option>
                                <option ng-repeat="item in TitleInfo" value="{{item.TitleId}}">{{item.Title}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="checkbox col-md-8 margin-l-20">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="MemberInfo.IsManagerAccount" ng-true-value="1"
                                        ng-false-value="0">
                                    <i></i>
                                    管理员账号
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="UserStatus" ng-model="MemberInfo.Status" value="1" checked /> 启用
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="UserStatus" ng-model="MemberInfo.Status" value="0"> 停用
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div id="previewAccount" class="inline bg-white wrapper-sm b-a"
                    style="width:160px;height:160px;cursor:pointer;" ng-click="showImg()">
                    <div class="img-rounded" style="width:140px;height:140px;">
                        <table class="table margin-l-20">
                            <tr>
                                <td style="border-top: 0px solid #ddd;padding:8px 0;">
                                    <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-repeat="item in uploader.queue"
                                        ng-show="uploader.queue.length>0">
                                        <div ng-show="uploader.isHTML5" style="max-width:140px;height:140px;"
                                            ng-thumb="{file: item._file, height: 140,width:140 }"></div>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 padding-0"
                                        ng-show="uploader.queue.length==0">
                                        <img style="max-width:140px;height:140px;" ng-src="{{equipment.Avator}}" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group m-t-xs">
                    <div class="bootstrap-filestyle input-group">
                        <div class="fileupload">
                            <div class="col-md-3 fileupload-buttonbar">
                                <span class="btn green fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span> 上传图片 </span>
                                    <input type="file" class="upload" nv-file-select="" uploader="uploader" /><br />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon p-l p-r"><i class="fa fa-phone"></i></div>
                            <input type="text" ng-pattern="/[^\u4E00-\u9FA5]/i" ng-model="MemberInfo.Phone"
                                ng-change="ChangePhoneNO()"
                                class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
                                placeholder="联系电话">
                        </div>
                        <span class="help-block m-b-none text-danger" ng-show="isInuse"><i
                                class="icon-close text-danger m-r-xs"></i>此电话号码为{{MessageTitle}}使用，请重新输入，谢谢！</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input type="email" ng-model="MemberInfo.Email"
                                class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email"
                                placeholder="邮箱">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group" ng-show="MemberInfo.IsManagerAccount==0">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="所属门店" ng-model="MemberInfo.UnitStr" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="setCompany($event)">
                                    <i class="fa fa-sitemap"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" ng-model="MemberInfo.IsManager" ng-true-value="1" ng-false-value="0">
                                店长
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" ng-model="MemberInfo.IsAssistantManager" ng-true-value="1"
                                    ng-false-value="0"> 经理
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="MemberInfo.IsManagerAccount==1">
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea rows="4" ng-model="MemberInfo.AccessoriesStr" class="form-control" placeholder="管理门店"
                            ng-click="setUnits($event)"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-md-2 padding-5" ng-repeat="item in MemberInfo.AccessoriesStr track by $index">
                            <span class="label label-info">{{item}} </span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <textarea rows="2" ng-model="MemberInfo.Remark" class="form-control" placeholder="说明"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="btnCancel()" class="btn grey-salt btn-outline font-xs">放弃</button>
        <button type="button" ng-disabled="myform.$invalid" ng-click="btnOk()"
            class="btn green">{{isRead==false?'修改':'新增'}}</button>
    </div>
</form>
</script>
