<!--修改密码-->
<script type="text/ng-template" id="ModalForChangePwd.html">
    <div class="modal-header">
        <div class="row padding-rl-10">
            <div class="col-lg-8"><h4 class="modal-title">修改密码</h4></div>
        </div>
    </div>
    <div class="modal-body">
        <form name="RevocationForm" class="form-validation" novalidate>
            <div class="panel panel-body m-n">
                <div class="form-group">
                    <label class="font-xxs font-yellow">原密码</label>
                    <div class="input-group">
                        <input type="password" class="form-control input-sm" data-val="true" ng-model="User.oPassword" placeholder="原密码" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-xxs font-yellow">新密码</label>
                    <div class="input-group">
                        <input type="password" required="" class="form-control input-sm" ng-change="ChangePassword()" data-val="true" ng-model="User.nPassword" placeholder="新密码" value="">
                    </div>
                </div>
                <pre class="alert alert-success ng-binding padding-tb-1">密码至少要有6个字元。建议您不要使用容易被猜到的密码！</pre>
                <div class="form-group">
                    <label class="font-xxs font-yellow">确认新密码</label>
                    <div class="input-group" >
                        <input type="password" required="" class="form-control input-sm" data-val="true" ng-change="ChangePassword()" ng-model="User.cPassword" placeholder="确认新密码" value="">
                    </div>
                </div>
                <pre class="alert alert-danger ng-binding" ng-show="isSuccess">{{errorMassage}}</pre>
            </div>
        </form>
    </div>    
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="RevocationForm.$invalid">确定</button>
        <button class="btn btn-light" ng-click="cancel()" ng-hide="Change4Password">取消</button>
    </div>
</script>