<!--调店或支援-->
<script type="text/ng-template" id="ChangeUnit.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-8"><h4 class="modal-title">调店或支援</h4></div>
        </div>
    </div>
    <form name="TransferForm" class="form-validation" novalidate>
        <div class="panel panel-body m-n">
            <div class="m-b">
                <blockquote>
                    <p>任职门店：{{Unit}}[{{UnitId}}]</p>
                </blockquote>
                <blockquote ng-show="supportShow">
                    <p>支援门店：</p>
                    <small ng-repeat="Item in SupportList">{{Item.Unit}}[{{Item.UnitId}}]&nbsp;&nbsp;{{Item.StartTime}}~{{Item.EndTime}}</small>
                </blockquote>
            </div>
            <div class="btn-group m-b">
                <label class="btn btn-info ng-pristine ng-untouched ng-valid" btn-radio="0" ng-model="ChangeTag">我要调店</label>
                <label class="btn btn-info ng-pristine ng-untouched ng-valid" btn-radio="1" ng-model="ChangeTag">支援其他门店</label>
            </div>
            <div class="form-group">
                <label class="font-xxs font-yellow">门店编号</label>
                <div class="input-group">
                    <input type="text" required="" class="form-control m-b" ng-model="UnitInfo.Id" placeholder="门店编号" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="font-xxs font-yellow">门店密码</label>
                <div class="input-group">
                    <input type="password" required="" class="form-control m-b" ng-model="UnitInfo.PassCode" placeholder="门店密码" autocomplete="off">
                </div>
            </div>
            <div class="row m-t-xs" ng-show="ChangeTag==1">
                <div class="col-lg-6 no-padder">
                    <div class="form-group" tooltip="开始时间" tooltip-trigger="mouseenter" tooltip-placement="top">
                        <label class="font-xxs font-yellow">开始时间</label>
                        <div class="input-group">
                            <input type="text" max-date="RequestTime.EndDate" datepicker-popup="{{format}}" is-open="StartOpened" datepicker-options="dateOptions" close-text="Close" ng-model="RequestTime.StartDate" ng-change="SetParams()" ng-click="openStartDate($event)" class="form-control" placeholder="开始时间" />
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-6 no-padder">
                    <div class="form-group m-l-xs" tooltip="结束时间" tooltip-trigger="mouseenter" tooltip-placement="top">
                        <label class="font-xxs font-yellow">结束时间</label>
                        <div class="input-group">
                            <input type="text" min-date="RequestTime.StartDate" datepicker-popup="{{format}}" is-open="EndOpened" datepicker-options="dateOptions" close-text="Close" ng-click="openEndDate($event)" ng-model="RequestTime.EndDate" ng-change="SetParams()" class="form-control" placeholder="结束时间" />
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="TransferForm.$invalid">确定</button>
            <button class="btn btn-light" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>