<!--确认门店密码-->
<script type="text/ng-template" id="ConfirmCode.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-8"><h4 class="modal-title">门店密码</h4></div>
        </div>
    </div>
    <form name="PasscodeForm" class="form-validation" novalidate>
        <div class="panel panel-body m-n">
            <div class="input-group m-b w-full">
                {{Unit}}
            </div>
            <div class="form-group">
                <label class="font-xxs font-yellow">门店密码</label>
                <div class="input-group">
                    <input type="password" required="" class="form-control input-lg m-b" data-val="true" ng-model="PassCode" placeholder="门店密码" value="">
                </div>
            </div>
            <pre class="alert alert-danger ng-binding padding-tb-1" ng-show="isSuccess">{{errorMassage}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg" ng-click="ok()" ng-disabled="PasscodeForm.$invalid">确定</button>
        </div>
    </form>
</script>