<!--门店成员资料维护-->
<script type="text/ng-template" id="ModifyMemberPage.html">
    <div class="modal-header">
        <h3 class="modal-title">门店成员资料维护</h3>
    </div>
    <!--修改内容-->
    <form id="AccountUpload" class="form-validation ng-pristine ng-invalid ng-invalid-required" novalidate name="myform">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-8 padding-rl-0">
                    <div class="form-group has-warning">
                        <input type="text" required="" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" ng-model="UserId" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-readonly="!isRead" placeholder="工号">
                    </div>
                    <div class="form-group has-warning">
                        <input type="text" required="" ng-model="UserName" placeholder="姓名" class="form-control ng-pristine ng-invalid ng-invalid-required" required>
                    </div>
                    <div class="form-group" has-warning>
                        <select ng-model="Title" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" style="" ng-options="m.TitleId as m.Title for m in TitleInfo | orderBy:['TitleId']" required="" placeholder="职称">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div id="previewAccount" class="inline bg-white wrapper-sm b-a" style="width:160px;height:160px;cursor:pointer;" ng-click="showImg()">
                        <div class="img-rounded" style="width:140px;height:140px;">
                            <table class="table margin-l-20">
                                <tr>
                                    <td style="border-top: 0px solid #ddd;padding:8px 0;">
                                        <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-repeat="item in uploader.queue" ng-show="uploader.queue.length>0">
                                            <div ng-show="uploader.isHTML5" style="max-width:140px;height:140px;" ng-thumb="{file: item._file, height: 140,width:140 }"></div>
                                       </div>
                                       <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-show="uploader.queue.length==0">
                                            <img style="max-width:140px;height:140px;" ng-src="{{equipment.Avator}}"/>
                                       </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group m-t-xs">
                        <div class="bootstrap-filestyle input-group">
                            <div class="fileupload">
                                <div class="col-md-3 fileupload-buttonbar">
                                    <span class="btn green fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span> 上传图片 </span>
                                        <input type="file" class="upload" nv-file-select="" uploader="uploader" /><br/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                        <input type="email" ng-model="UserEmail" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon p-l p-r"><i class="fa fa-phone"></i></div>
                        <input type="text" ng-pattern="/[^\u4E00-\u9FA5]/i" ng-model="UserPhone" ng-change="ChangePhoneNO()"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" placeholder="联系电话">
                    </div>
                    <span class="help-block m-b-none text-danger" ng-show="isInuse"><i class="icon-close text-danger m-r-xs"></i>此电话号码为{{MessageTitle}}使用，请重新输入，谢谢！</span>
                </div>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <label class="mt-radio">
                            <input type="radio" name="UserStatus" ng-model="UserStatus" value="1" checked/> 启用
                            <span></span>
                        </label>
                        <label class="mt-radio">
                            <input type="radio" name="UserStatus" ng-model="UserStatus" value="0" > 停用
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="2" ng-model="UserRemark" class="form-control" placeholder="说明"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">          
            <button type="button"  ng-click="btnCancel()" class="btn grey-salt btn-outline font-xs">放弃</button>
            <button type="button" ng-disabled="myform.$invalid" ng-click="btnOk()" class="btn green">{{isRead==false?'修改':'新增'}}</button>
        </div>
    </form>
</script>