<!--门店基本资讯维护-->
<script type="text/ng-template" id="ModifyDeptPage.html">
    <div class="modal-header">
        <h3 class="modal-title">门店基本资讯维护</h3>
    </div>
    <!--修改内容-->
    <div class="modal-body">
        <form id="imgUpload" class="form-validation ng-pristine ng-invalid ng-invalid-required" novalidate name="Deptform">
            <div class="panel-body ng-cloak padding-0" ng-cloak>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-9">
                                <h4 class="m-b-xxs">[{{DeptInfoForModify.UnitId}}]&nbsp;&nbsp;{{DeptInfoForModify.ReferenceUnit}}</h4>
                                <h3 class="m-t-md text-ellipsis">{{DeptInfoForModify.Unit}}</h3>
                                <div class="col-lg-12padding-rl-0">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group has-warning">
                                                    <div class="input-group">
                                                        <div class="input-group-addon p-l p-r"><i class="fa fa-map-marker"></i></div>
                                                        <input type="text" name="District" ng-model="DistrictForShow" ng-click="SetDivisions()" placeholder="门店城市" class="form-control ng-pristine ng-invalid ng-invalid-required" required="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group m-l-xs has-warning">
                                                    <input type="text" name="StreetAddress" ng-model="StreetAddress" placeholder="门店地址" class="form-control ng-pristine ng-invalid ng-invalid-required" required="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12padding-rl-0">
                                    <div class="form-group has-warning">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                            <input type="email" name="Email" required="" ng-model="Email" placeholder="门店邮箱" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div id="previewDept" class="inline bg-white wrapper-sm b-a" style="width:200px;height:200px;cursor:pointer;" ng-click="showImg()">
                                    <div class="img-rounded" style="width:180px;height:180px;">
                                        <table class="table margin-l-20">
                                            <tr>
                                                <td style="border-top: 0px solid #ddd;padding:8px 0;">
                                                    <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-repeat="item in uploader.queue" ng-show="uploader.queue.length>0">
                                                        <div ng-show="uploader.isHTML5" style="max-width:140px;height:140px;" ng-thumb="{file: item._file, height: 140,width:140 }"></div>
                                                </div>
                                                <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-show="uploader.queue.length==0">
                                                        <img style="max-width:140px;height:140px;" ng-src="{{equipment.Avator}}"/>
                                                </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group m-t-xs">
                                    <div class="bootstrap-filestyle input-group">
                                    <div class="fileupload">
                                        <div class="col-md-3 fileupload-buttonbar">
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus"></i>
                                                <span> 上传图片 </span>
                                                <input type="file" class="upload" nv-file-select="" uploader="uploader" /><br/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12padding-rl-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group has-warning">
                                <div class="input-group">
                                    <div class="input-group-addon p-l p-r"><i class="fa fa-phone"></i></div>
                                    <input type="tel" name="PhoneNo1" ng-model="PhoneNo" ng-change="ChangePhoneNO('NO1')" class="form-control ng-pristine ng-valid-pattern ng-untouched ng-valid ng-valid-required" required="" ng-pattern="/(^(\d{3,4}-)?\d{7,8})$|(\d{11})$/" placeholder="门店电话" tooltip="门店电话" />
                                </div>
                            </div>
                            <span class="help-block m-b-none text-danger" ng-show="isInuse01"><i class="icon-close text-danger m-r-xs"></i>此电话号码为{{MessageTitle01}}使用，请重新输入，谢谢！</span>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-warning">
                                <div class="input-group">
                                    <div class="input-group-addon p-l p-r"><i class="fa fa-phone"></i></div>
                                    <input type="tel" name="PhoneNo2" ng-model="PhoneNo2" ng-change="ChangePhoneNO('NO2')" class="form-control ng-valid-pattern ng-valid ng-valid-required" required="" ng-pattern="/(^(\d{3,4}-)?\d{7,8})$|(\d{11})$/" placeholder="门店电话" tooltip="门店电话" />
                                </div>
                            </div>
                            <span class="help-block m-b-none text-danger" ng-show="isInuse02"><i class="icon-close text-danger m-r-xs"></i>此电话号码为{{MessageTitle02}}使用，请重新输入，谢谢！</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12padding-rl-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group has-warning">
                                <div class="input-group">
                                    <div class="input-group-addon p-l p-r"><i class="fa fa-clock-o"></i></div>
                                    <input type="text" name="YYHours" ng-model="Hours" placeholder="营业时间" tooltip="营业时间" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required ng-valid-pattern" required="" ng-pattern="/[^\u4E00-\u9FA5]/i" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-warning">
                                <div class="input-group">
                                    <div class="input-group-addon p-l p-r-sm"><i class="fa fa-calendar"></i></div>
                                    <input type="text" ng-model="Opend" datepicker-popup="yyyy/MM/dd" is-open="Opened" datepicker-options="dateOptions" close-text="Close" tooltip="开业时间" placeholder="开业时间" ng-click="openDate($event)" class="form-control ng-valid-pattern ng-valid ng-valid-required" required="" ng-pattern="/[^\u4E00-\u9FA5]/i" placeholder="开业时间" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="btnCancel()" class="btn grey-salt btn-outline font-xs">放弃</button>
                <button type="button" ng-disabled="Deptform.$invalid" ng-click="btnOk()" class="btn green">确定</button>
            </div>
        </form>
    </div>
</script>