<!--设备资料维护-->
<script type="text/ng-template" id="ModifyEquipmentPage.html">
    <header>
        <passport ng-show="false">{{_tPassport}}</passport>
    </header>
    <div class="modal-header">
        <h3 class="modal-title">设备资料维护</h3>
    </div>
    <!--修改内容-->
    <form id="imgUpload" class="form-validation ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-pattern" novalidate="" name="Equipmentform">
        <div class="panel panel-body m-n w-full">
            <div class="row padding-rl-10">
                <h4 class="m-b-xxs">{{equipment.EquipmentCode}}&nbsp;&nbsp;{{equipment.TypeName}}</h4>
                <h3 class="m-t-md text-ellipsis">{{equipment.EquipmentName}}</h3>
            </div>
            <div class="row padding-rl-10">
                <div class="col-lg-7 p-l-n padding-rl-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group w-full">
                                <label class="control-label">设备位置</label>
                                <select ng-model="Position" class="form-control" name="Position" ng-options="m.PositionId as m.Position group by m.Region for m in _Equipmentpos | orderBy:['SortNo']" required multiple>
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-center">
                    <div id="ePreview" class="inline bg-white wrapper-sm b-a" style="width:160px;height:160px;cursor:pointer;">
                        <div class="img-rounded" style="width:140px;height:140px;">
                            <table class="table margin-l-20">
                                <tr>
                                    <td style="border-top: 0px solid #ddd;padding:8px 0;">
                                        <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-repeat="item in uploader.queue" ng-show="uploader.queue.length>0">
                                            <div ng-show="uploader.isHTML5" style="max-width:140px;height:140px;" ng-thumb="{file: item._file, height: 140,width:140 }"></div>
                                       </div>
                                       <div class="col-xs-3 col-md-3 col-lg-3 padding-0" ng-show="uploader.queue.length==0">
                                            <img style="max-width:140px;height:140px;" ng-src="{{equipment.Avator}}"/>
                                       </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group m-t-xs">
                        <div class="bootstrap-filestyle input-group">
                            <div class="fileupload">
                                <div class="col-md-3 fileupload-buttonbar">
                                    <span class="btn green fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span> 上传图片 </span>
                                        <input type="file" class="upload" nv-file-select="" uploader="uploader" /><br/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button type="button"  ng-click="btnCancel()" class="btn grey-salt btn-outline font-xs">放弃</button>
            <button type="button" ng-disabled="Equipmentform.$invalid" ng-click="btnOk()" class="btn green">保存数据</button>
        </div>
    </form>
</script>