<script type="text/ng-template" id="usersModal.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-8">
                <h3 class="modal-title">选择人员</h3>
            </div>
            <div class="col-md-4 pull-right">
                <input type="text" class="form-control" ng-model-options="{debounce:400}" ng-model="SearchForUser" placeholder="关键字查询">
            </div>
        </div>
    </div>
    <div class="panel panel-body margin-b-0" style="height:466px">
        <div class="row margin-b-5">
            <div class="col-md-12 text-right">
                <span>
                    <i class="fa fa-building-o" aria-hidden="true"></i> {{CompanyInfo.Company}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="table" class="table table-bordered table-hover margin-b-0">
                    <thead style="display:block;overflow-y: scroll;border-bottom:1px solid #eee;">
                        <tr class="info">
                            <th style="width:50px;"></th>
                            <th style="width:150px;">所属</th>
                            <th style="width:150px;">职称</th>
                            <th style="width:150px;">工号</th>
                            <th style="width:150px;">姓名</th>
                            <th style="width:150px;">电话</th>
                            <th style="width:214px;">郵件</th>
                        </tr>
                    </thead>
                    <tbody style="display:block; min-height:375px;overflow-y: scroll;" ng-show="IsLoading==true">
                        <tr>
                            <td class="text-center" style="width:1050px;">
                                載入資料中...
                            </td>
                        </tr>
                    </tbody>
                    <tbody style="display:block; max-height:375px;overflow-y: scroll;" ng-show="IsLoading==false">
                        <tr ng-repeat="item in UserList |filter:SearchForUser" ng-class="{'active':item==selectItem}" ng-click="select(item)">
                            <td class="text-center" style="width:50px;">
                                <i class="fa fa-square-o fa-lg" ng-show="item!=selectItem"></i>
                                <i class="fa fa-check-square-o fa-lg" ng-show="item==selectItem"></i>
                            </td>
                            <td style="width:150px;">
                                {{item.Unit}}
                            </td>
                            <td style="width:150px;">
                                {{item.Title}}
                            </td>
                            <td style="width:150px;">
                                {{item.HrCode}}
                            </td>
                            <td style="width:150px;">
                                {{item.UserName}}
                            </td>
                            <td style="width:150px;word-break:break-all;">
                                <span ng-repeat="item in item.Phone">
                                    <span ng-show="$index>0">,</span>{{item}}
                                </span>
                            </td>
                            <td style="width:200px;word-break:break-all;">
                                <span ng-repeat="item in item.Email">
                                    <span ng-show="$index>0">,</span>{{item}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn grey-salt btn-outline font-xs" ng-click="cancel()">取消</button>
        <button class="btn green" ng-click="ok()">确定</button>
    </div>
</script>