<script type="text/ng-template" id="storeModal.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h4 class="modal-title">{{ModalTitle}}</h4>
            </div>
            <div class="col-md-6 pull-right" ng-show="IsHideUnit">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="按公司別关键字查找" ng-model="CompanyListSearch">
                  <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                  </span>
              </div>
            </div>
        </div>
    </div>
    <!--新增歷程modal-->
    <div class="modal-body modal-scrollbar" style="height:350px; overflow: auto; width: auto;padding-bottom:40px;">
        <!-- 公司別區塊 + 門店區塊 -->
        <div class="row" ng-hide="IsHideUnit">
            <div class="col-md-6 padding-r-0 col-line">
                <div style="height: 300px; overflow: hidden; width: auto;">
                    <div class="mt-checkbox-inline no-space" ng-repeat="ServeStore in ServeStoreStr" ng-model="ServeStoreRadio">
                        <div class="mt-checkbox-list padding-t-0">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" ng-model="ServeStore.isCheck" ng-click="selectServeStoreList(ServeStore.CompanyId)">
                                <span></span>
                            </label>
                            <span style="margin-left:-15px;" ng-click="selectServeStoreList(ServeStore.CompanyId)">
                                {{ServeStore.CompanyName}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group margin-b-10">
                    <input type="text" class="form-control" placeholder="按门店关键字查找" ng-model="StoreListSearch">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <div id="inner-content">
                    <div ng-show="isLoading">
                        <section class="loaders loaders-bg-4">
                            <span class="loader loader-bars">
                                <span></span>
                            </span>
                            <p class="NT_loader_p">载入中...</p>
                        </section>
                    </div>
                    <div class="mt-checkbox-inline no-space" ng-repeat="ServeStoreList in ServeStoreListData | filter:StoreListSearch">
                        <div class="mt-checkbox-list padding-t-0" ng-click="ServeStoreList.isCheck=!ServeStoreList.isCheck">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" ng-model="ServeStoreList.isCheck">
                                <span></span>
                            </label>
                            {{ServeStoreList.Unit}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 只有 公司別區塊  -->
        <div class="row" ng-show="IsHideUnit">
            <div class="col-md-12 padding-r-0 col-line">
                <div style="height: 300px; overflow: hidden; width: auto;">
                    <div class="mt-checkbox-inline no-space" ng-repeat="ServeStore in ServeStoreStr |filter:CompanyListSearch" ng-model="ServeStoreRadio">
                        <div class="mt-checkbox-list padding-t-0">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" ng-model="ServeStore.isCheck" ng-click="selectServeStoreList(ServeStore.CompanyId)">
                                <span></span>
                            </label>
                            <span style="margin-left:-15px;" ng-click="selectServeStoreList(ServeStore.CompanyId)">
                                {{ServeStore.CompanyName}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn grey-salt btn-outline font-xs" data-dismiss="modal" ng-click="restStoreSelect()">取消</button>
        <button type="button" class="btn green" data-dismiss="modal" ng-click="loadSelectStore()">确认</button>
    </div>
</script>
